interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/directions/v5/mapbox/walking/-2.998065948486328,51.596012118680264;-2.995147704661227,51.595814835763214?&alternatives=false&geometries=polyline&steps=false&access_token=not-a-real-key
  response:
    body:
      string: '{"code":"Ok","waypoints":[{"location":[-2.998064,51.595998],"name":"Heidenheim
        Drive","distance":1.577},{"location":[-2.995155,51.59584],"name":"Tetbury
        Close","distance":2.88}],"routes":[{"geometry":"_j|yHzphQmCfAqCd@kB@}BY`Cj@xBFbDq@dD{AbAY~@CYwBFkAKc@Pi@OsIiCLDt@","distance":1022.444,"duration":693.326,"weight":1004.175,"weight_name":"pedestrian","legs":[{"steps":[],"summary":"Heidenheim
        Drive, Evans Street","distance":1022.444,"duration":693.326,"weight":1004.175,"admins":[{"iso_3166_1":"GB","iso_3166_1_alpha3":"GBR"}],"via_waypoints":[]}]}],"uuid":"xaeTlV3TndNhkQcBEh-JbhcfrtoSICqLfER0ih4veXssG9ZQ7IDrVA=="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1782823896'
      x-mapbox-request-id:
      - xaeTlV3TndNhkQcBEh-JbhcfrtoSICqLfER0ih4veXssG9ZQ7IDrVA==
      x-mapbox-routing-engine:
      - v2.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections.json?identifier_type=ballot&current=1&coords=51.596012118680264%2C-2.998065948486328
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[ {"election_id":"blablabla.bla",
        "group_type":null, "cancelled":false, "poll_open_date":"2099-12-31"} ]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
