interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/directions/json?units=imperial&key=&mode=walking&origin=51.596012118680264,-2.998065948486328&destination=51.595814835763214,-2.995147704661227
  response:
    body:
      string: "{\n   \"geocoded_waypoints\" : [\n      {\n         \"geocoder_status\"
        : \"OK\",\n         \"place_id\" : \"ChIJNe_VCtHmcUgRCSSEn5q8pWo\",\n         \"types\"
        : [ \"postal_code\" ]\n      },\n      {\n         \"geocoder_status\" : \"OK\",\n
        \        \"place_id\" : \"EicyIFRldGJ1cnkgQ2wsIE5ld3BvcnQsIE5ld3BvcnQgTlAyMCwgVUs\",\n
        \        \"types\" : [ \"street_address\" ]\n      }\n   ],\n   \"routes\"
        : [\n      {\n         \"bounds\" : {\n            \"northeast\" : {\n               \"lat\"
        : 51.59587759999999,\n               \"lng\" : -2.9948435\n            },\n
        \           \"southwest\" : {\n               \"lat\" : 51.5946918,\n               \"lng\"
        : -2.9996985\n            }\n         },\n         \"copyrights\" : \"Map
        data \xA92016 Google\",\n         \"legs\" : [\n            {\n               \"distance\"
        : {\n                  \"text\" : \"0.3 mi\",\n                  \"value\"
        : 491\n               },\n               \"duration\" : {\n                  \"text\"
        : \"6 mins\",\n                  \"value\" : 358\n               },\n               \"end_address\"
        : \"2 Tetbury Cl, Newport, Newport NP20, UK\",\n               \"end_location\"
        : {\n                  \"lat\" : 51.59587759999999,\n                  \"lng\"
        : -2.9951459\n               },\n               \"start_address\" : \"Newport,
        Newport NP20 5GN, UK\",\n               \"start_location\" : {\n                  \"lat\"
        : 51.595288,\n                  \"lng\" : -2.9996985\n               },\n
        \              \"steps\" : [\n                  {\n                     \"distance\"
        : {\n                        \"text\" : \"194 ft\",\n                        \"value\"
        : 59\n                     },\n                     \"duration\" : {\n                        \"text\"
        : \"1 min\",\n                        \"value\" : 46\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 51.5948043,\n                        \"lng\" : -2.9993648\n                     },\n
        \                    \"html_instructions\" : \"Head \\u003cb\\u003esouth\\u003c/b\\u003e
        on \\u003cb\\u003eBarrack Hill\\u003c/b\\u003e toward \\u003cb\\u003eHarlequin
        Dr\\u003c/b\\u003e\",\n                     \"polyline\" : {\n                        \"points\"
        : \"qe|yHb{hQLEVGDEf@]LQ\"\n                     },\n                     \"start_location\"
        : {\n                        \"lat\" : 51.595288,\n                        \"lng\"
        : -2.9996985\n                     },\n                     \"travel_mode\"
        : \"WALKING\"\n                  },\n                  {\n                     \"distance\"
        : {\n                        \"text\" : \"66 ft\",\n                        \"value\"
        : 20\n                     },\n                     \"duration\" : {\n                        \"text\"
        : \"1 min\",\n                        \"value\" : 14\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 51.5947031,\n                        \"lng\" : -2.9991209\n                     },\n
        \                    \"html_instructions\" : \"Slight \\u003cb\\u003eleft\\u003c/b\\u003e
        to stay on \\u003cb\\u003eBarrack Hill\\u003c/b\\u003e\",\n                     \"maneuver\"
        : \"turn-slight-left\",\n                     \"polyline\" : {\n                        \"points\"
        : \"ob|yH~xhQDOL_@\"\n                     },\n                     \"start_location\"
        : {\n                        \"lat\" : 51.5948043,\n                        \"lng\"
        : -2.9993648\n                     },\n                     \"travel_mode\"
        : \"WALKING\"\n                  },\n                  {\n                     \"distance\"
        : {\n                  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections.json?coords=51.596012118680264,-2.998065948486328&current=1&identifier_type=ballot
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[ {"election_id":"blablabla.bla",
        "group_type":null, "cancelled":false, "poll_open_date":"2099-12-31"} ]}'
    headers:
      Allow:
      - GET, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/directions/v5/mapbox/walking/-2.998065948486328,51.596012118680264;-2.995147704661227,51.595814835763214?&alternatives=false&geometries=polyline&steps=false&access_token=
  response:
    body:
      string: '{"message": "Not Authorized - Invalid Token",  "error_detail": "No
        valid token prefix found in access_token parameter"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
