interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/directions/json?units=imperial&key=&mode=driving&origin=51.13333333333333,-3.8333333333333335&destination=51.595814835763214,-2.995147704661227
  response:
    body:
      string: "{\n   \"geocoded_waypoints\" : [\n      {\n         \"geocoder_status\"
        : \"OK\",\n         \"place_id\" : \"ChIJX10LDcafe0gR_Y0h9xIQozI\",\n         \"types\"
        : [ \"postal_code\" ]\n      },\n      {\n         \"geocoder_status\" : \"OK\",\n
        \        \"place_id\" : \"EicyIFRldGJ1cnkgQ2wsIE5ld3BvcnQsIE5ld3BvcnQgTlAyMCwgVUs\",\n
        \        \"types\" : [ \"street_address\" ]\n      }\n   ],\n   \"routes\"
        : [\n      {\n         \"bounds\" : {\n            \"northeast\" : {\n               \"lat\"
        : 53.7432366,\n               \"lng\" : -2.4300143\n            },\n            \"southwest\"
        : {\n               \"lat\" : 51.59587759999999,\n               \"lng\" :
        -3.0215282\n            }\n         },\n         \"copyrights\" : \"Map data
        \xA92016 Google\",\n         \"legs\" : [\n            {\n               \"distance\"
        : {\n                  \"text\" : \"170 mi\",\n                  \"value\"
        : 273856\n               },\n               \"duration\" : {\n                  \"text\"
        : \"2 days 8 hours\",\n                  \"value\" : 201108\n               },\n
        \              \"end_address\" : \"2 Tetbury Cl, Newport, Newport NP20, UK\",\n
        \              \"end_location\" : {\n                  \"lat\" : 51.59587759999999,\n
        \                 \"lng\" : -2.9951459\n               },\n               \"start_address\"
        : \"Blackburn, Blackburn with Darwen BB1 1BB, UK\",\n               \"start_location\"
        : {\n                  \"lat\" : 53.7432366,\n                  \"lng\" :
        -2.4793245\n               },\n               \"steps\" : [\n                  {\n
        \                    \"distance\" : {\n                        \"text\" :
        \"440 ft\",\n                        \"value\" : 134\n                     },\n
        \                    \"duration\" : {\n                        \"text\" :
        \"1 min\",\n                        \"value\" : 89\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 53.7432414,\n                        \"lng\" : -2.4813603\n                     },\n
        \                    \"html_instructions\" : \"Head \\u003cb\\u003ewest\\u003c/b\\u003e
        on \\u003cb\\u003eLower Audley St\\u003c/b\\u003e/\\u003cb\\u003eA6078\\u003c/b\\u003e
        toward \\u003cb\\u003eMayson St\\u003c/b\\u003e\",\n                     \"polyline\"
        : {\n                        \"points\" : \"gv_gIvfcN?bB?`C?~@?t@?z@\"\n                     },\n
        \                    \"start_location\" : {\n                        \"lat\"
        : 53.7432366,\n                        \"lng\" : -2.4793245\n                     },\n
        \                    \"travel_mode\" : \"WALKING\"\n                  },\n
        \                 {\n                     \"distance\" : {\n                        \"text\"
        : \"289 ft\",\n                        \"value\" : 88\n                     },\n
        \                    \"duration\" : {\n                        \"text\" :
        \"1 min\",\n                        \"value\" : 84\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 53.7431107,\n                        \"lng\" : -2.4826614\n                     },\n
        \                    \"html_instructions\" : \"Slight \\u003cb\\u003eright\\u003c/b\\u003e
        to stay on \\u003cb\\u003eLower Audley St\\u003c/b\\u003e/\\u003cb\\u003eA6078\\u003c/b\\u003e\\u003cdiv
        style=\\\"font-size:0.9em\\\"\\u003eContinue to follow A6078\\u003c/div\\u003e\",\n
        \                    \"maneuver\" : \"turn-slight-right\",\n                     \"polyline\"
        : {\n                        \"points\" : \"gv_gInscNCL?H?J?X?T@J?RDh@BVDR@H@HBNBT\"\n
        \                    },\n                     \"start_location\" : {\n                        \"lat\"
        : 53.7432414,\n                        \"lng\" : -2.4813603\n                     },\n
        \                    \"travel_mode\" : \"WALKING\"\n                  },\n
        \                 {\n                     \"distan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections.json?coords=51.1,-3.8&current=1&identifier_type=ballot
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"election_id":"blablabla.bla",
        "group_type":null, "cancelled":false, "poll_open_date":"2099-12-31"}]}'
    headers:
      Allow:
      - GET, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/directions/v5/mapbox/driving-traffic/-3.8333333333333335,51.13333333333333;-2.995147704661227,51.595814835763214?&alternatives=false&geometries=polyline&steps=false&access_token=
  response:
    body:
      string: '{"message": "Not Authorized - Invalid Token",  "error_detail": "No
        valid token prefix found in access_token parameter"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
