interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/directions/v5/mapbox/driving-traffic/-3.8333333333333335,51.13333333333333;-2.995147704661227,51.595814835763214?&alternatives=false&geometries=polyline&steps=false&access_token=not-a-real-key
  response:
    body:
      string: '{"code":"Ok","waypoints":[{"location":[-3.830578,51.134927],"name":"","distance":261.773,"time_zone":{"offset":"+01:00","identifier":"Europe/London","abbreviation":"BST"}},{"location":[-2.995155,51.59584],"name":"Tetbury
        Close","distance":2.88,"time_zone":{"offset":"+01:00","identifier":"Europe/London","abbreviation":"BST"}}],"routes":[{"geometry":"ihbwHbdkVd{BurDvuDdlFbgHbaBpdDu}QdtDkiKvf@ybKjoEkaGh`@u|FfvCubIsgAo{Vjk@qzBwnIck^yu@wbNewB}tFolWwnTgbFnhA{rHmkBsyOa}LizKcC{_L{}Ha}Hs|YkbKe{KefDdhC}mAhxLu[jlSsfBbcLtu@~_Je`A`|Ert@~G","distance":178976.922,"duration":7752.292,"weight":8071.315,"weight_name":"auto","duration_typical":8004.583,"weight_typical":8067.335,"legs":[{"steps":[],"summary":"A361,
        M5","distance":178976.922,"duration":7752.292,"weight":8071.315,"duration_typical":8004.583,"weight_typical":8067.335,"admins":[{"iso_3166_1":"GB","iso_3166_1_alpha3":"GBR"},{"iso_3166_1":"GB","iso_3166_1_alpha3":"GBR"}],"via_waypoints":[]}]}],"uuid":"2vH2BooE6K5xVrMXd_wAJzRY1CiMQQSCAzDGNIxNb2_Nd1AupLJwZw=="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1782823889'
      x-mapbox-request-id:
      - 2vH2BooE6K5xVrMXd_wAJzRY1CiMQQSCAzDGNIxNb2_Nd1AupLJwZw==
      x-mapbox-routing-engine:
      - v2.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections.json?identifier_type=ballot&current=1&coords=51.1%2C-3.8
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[ {"election_id":"blablabla.bla",
        "group_type":null, "cancelled":false, "poll_open_date":"2099-12-31"} ]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
