{% load i18n %}
{% if request.brand == 'democracyclub' %}
<div class="card" id="signup_form">
  {% blocktrans %}
  <p>We think everyone should be able to find their polling station online. If you
  agree, please sign up below. If enough people in your local area sign up, we
  will contact the head of your council on your behalf. We won’t share your
  email address with them or anyone else.</p>
  {% endblocktrans %}

  <div class="form-group">
    <label for="name">{% trans "Name" %}</label>
    <input type="text" id="name" name="name" value="" maxlength="100">
    <span class="form-error" id="name_error">{% trans "Name is required" %}</span>

    <label for="email">{% trans "Email" %}</label>
    <input type="email" id="email" name="email" value="" maxlength="100">
    <span class="form-error" id="email_error">{% trans "Please enter an email address" %}</span>

    <div style="margin-bottom: 1rem;">
    <input type="checkbox" id="join" name="join" value="1" style="margin-bottom: 0;">

    <label for="join" style="display: inline;">
    {% blocktrans %}Yes, I’d like to join Democracy Club (it’s free!) to help
    make democracy work better for everyone.{% endblocktrans %}
    </label>
    </div>

    <button type="button" class="button" id="submit">{% trans "Sign up" %}</button>
  </div>
</div>
{% endif %}
