version: 2
updates:
- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "yearly"
  open-pull-requests-limit: 0
  ignore:
    - dependency-name: "*"
- package-ecosystem: "uv"
  directory: "/"
  schedule:
    interval: "yearly"
  open-pull-requests-limit: 0
  ignore:
    - dependency-name: "*"

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  groups:
    cdk-js-libs:
      patterns:
        - "*cdk*"
