[run]
omit =
    */.tox/*
    */tests/*
    */tests.py
    */apps.py
    */migrations/*
    polling_stations/wsgi.py
    polling_stations/settings/*
    */lib/python3.4/site-packages/*
    */lib/python3.5/site-packages/*
    polling_stations/apps/data_collection/management/commands/import_*
    polling_stations/apps/data_collection/management/commands/misc_fixes.py
    polling_stations/apps/data_importers/management/commands/import_*
    polling_stations/apps/data_finder/features/index.py
