[tool.ruff]
line-length = 88

[ruff.lint]
ignore = [
    "E501",
    "E203", #https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#slices
]
extend-select = [
    "I",
    "C4",
    "SIM",
    "Q003",
    "RET",
]


[tool.pytest.ini_options]
norecursedirs = [
    "polling_stations/static",
    "node_modules",
    "cdk.out",
    ".ruff-cache",
    ".circleci"
]

pythonpath = "cdk/lambdas/wdiv-s3-trigger"

DJANGO_SETTINGS_MODULE = "polling_stations.settings.testing"

addopts = [
    "--ruff",
    "--ruff-format",
]
