{% load i18n %}
    <div class="card">
        {% blocktrans %}
        <h3>You need to be registered in order to vote</h3>
        <p>If you aren’t registered to vote visit <a href="https://www.gov.uk/register-to-vote" target="_top">https://www.gov.uk/register-to-vote</a>
        <ul>
          <li>Before midnight on Thursday 13 April register for elections in England and Wales</li>
          <li>Before midnight on Monday 17 April to register for elections in Scotland</li>
        </ul>
        </p>
        {% endblocktrans %}
    </div>
