{% load i18n %}
    <div class="card">
        {% blocktrans %}
        <h3>You don't need your poll card to vote</h3>
        <p>If you don't have your poll card, you can go to the polling
            station and give them your name and address.</p>
        <p>You don't need any other form of ID, unless you are voting in Northern Ireland where you will need </a>photographic identification</a>.</p>
        <p>If you haven’t received a polling card but think you should have done, contact your council</p>
        <p><strong>Polling stations are open from 7am to 10pm on Thursday 8 June.</strong></p>
        <p><a href="https://www.gov.uk/voting-in-the-uk/polling-stations" target="_top">
          Read more about voting in England, Wales and Scotland
        </a></p>
        <p><a href="https://www.yourvotematters.co.uk/how-do-i-vote" target="_top">
          Read more about voting in Northern Ireland
        </a></p>
        {% endblocktrans %}
    </div>
