{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block page_title %}{{ council }} - {% trans "Dashboard" %}{% endblock page_title %}

{% block content %}
    <h1>{{ council }}</h1>

    <section class="card">
        <h2>Report</h2>
        <pre>{{ council.dataquality.report }}</pre>
    </section>


    <section class="card">
        <h2>Postcodes by diameter</h2>
        <table>
            <thead>
            <tr>
                <th>Postcode</th>
                <th>Diameter (metres)</th>
            </tr>
            </thead>
            <tbody>{% for postcode, diameter in postcodes_by_diameter %}
                <tr>
                    <td><a href="{% url "dashboard:postcode" postcode=postcode %}">{{ postcode }}</a> (<a href="{% url "postcode_view" postcode %}">site</a>)</td>
                    <td>{{ diameter|intcomma }}</td>
                </tr>{% endfor %}

            </tbody>
        </table>
    </section>

    <section class="card">
        <h2>Largest distances to polling places</h2>
        <table>
            <thead>
            <tr>
                <th>UPRN</th>
                <th>Address</th>
                <th>Post code</th>
                <th>Polling station</th>
                <th>Distance (metres)</th>
            </tr>
            </thead>
            <tbody>{% for pollingstation_id, uprn, address, postcode, distance in distances_to_stations %}
                <tr>
                    <td>{{ uprn }}</td>
                    <td>
                        <a href="{% url "address_view" uprn %}">{{ address }}</a>
                    </td>
                    <td><a href="{% url "dashboard:postcode" postcode=postcode %}">{{ postcode }}</a> (<a href="{% url "postcode_view" postcode %}">site</a>)</td>
                    <td>{{ pollingstation_id }}</td>
                    <td>{{ distance|intcomma }}</td>
                </tr>{%  endfor %}
            </tbody>
        </table>
    </section>

    <section class="card">
        <h2>Polling places</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Postcode</th>
                <th>Location?</th>
            </tr>
            </thead>
            <tbody>{% for pollingstation in pollingstation_list %}
                <tr>
                    <td><a href="{% url "dashboard:pollingstation_detail" pollingstation.council_id pollingstation.internal_council_id %}">{{ pollingstation.internal_council_id }}</a></td>
                    <td>{{ pollingstation.address }}</td>
                    <td>{{ pollingstation.postcode }}</td>
                    <td>{{ pollingstation.location|yesno }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}