interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://mapit.democracyclub.org.uk//postcode/BB11BB
  response:
    body: {string: '
        {
          "wgs84_lat": 53.742999319646245,
          "wgs84_lon": -2.479324581331954,
          "postcode": "BB1 1BB",
          "easting": 368484,
          "northing": 427509,
          "areas": {
            "1": {
              "parent_area": null,
              "codes": {
                "gss": "X01000001"
              },
              "name": "Foo Council",
              "type": "UTA"
            }
          }
        }'
    }
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
