/*
Mostly @extends styles for mapping between API Blueprint classed and the design system.
 */

.api-resource, .api-resource-group {
  @extend .ds-stack;
}

.api-resource * {
  @extend .ds-stack-smaller
}

.api-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.05176rem;
  >*:first-child {
    flex-basis: 100%;
    @extend .ds-stack;
  }
  >* {
    flex: 1 0 20em;
    @extend .ds-stack;
    flex-basis: 45%;
    margin-right:1em
  }
}

.api-description {
  @extend .ds-stack-smaller;
}

.api-action-transaction {
  @extend .ds-card;
  padding:1em;
}

.api-method {
  @extend code;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

.api-http-code {
  cursor: pointer;
}

.api-method-GET {
  background-color: $greenForWhite;
  color: #FFF;
}

code, pre {
  background-color: #DDDDDD;
  padding:3px;
  font-family: "Courier New", monospace;
}

pre {
  display: block;
  padding: 1em;
  max-width: 40em;
  overflow-x: scroll;
  max-height: 20em;
  @extend .ds-codeblock;
  white-space: nowrap;

}
