// DC DESIGN SYSTEM
@import 'partials/_switcher.scss';
@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
@import 'partials/_type.scss';
@import 'partials/_forms.scss';
@import 'partials/_description-lists.scss';
@import 'partials/_button.scss';
@import 'partials/_call-to-action.scss';
@import 'partials/_details.scss';
@import 'partials/_stack.scss';
@import 'partials/_cluster.scss';
@import 'partials/_grid.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_breadcrumbs.scss';
@import 'partials/_card.scss';
@import 'partials/_candidate.scss';
@import 'partials/_table.scss';
@import 'partials/_language.scss';
@import 'partials/_header.scss';
@import 'partials/_subnav.scss';
@import 'partials/_footer.scss';
@import 'partials/_radio.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_select.scss';
@import 'partials/_filter.scss';
@import 'partials/_status.scss';
@import 'partials/_codeblock.scss';
@import 'partials/_dark.scss';
@import 'partials/_page.scss';
@import 'partials/_map-leaflet.scss';
@import 'partials/_utilities.scss';
@import 'partials/_logo.scss';
@import 'partials/_logout.scss';
// // Generate atomic classes for documentation demos
@import 'partials/_classes-colors.scss';
@import 'partials/_classes-scales.scss';
$scope: false;
@mixin optional-styles {
    @include switcher;
    @include description-lists;
    @include button;
    @include cta;
    @include cluster;
    @include grid;
    @include sidebar;
    @include details;
    @include card;
    @include candidate;
    @include breadcrumbs;
    @include table;
    @include language;
    @include header;
    @include subnav;
    @include footer;
    @include radio;
    @include checkbox;
    @include select;
    @include filter;
    @include status;
    @include codeblock;
    @include map-leaflet;
    @include logo;
    @include logout;
}

@if $scope {
    .ds-scope {
        font-size: clamp(#{$s1}, 2vw, #{$s2});
        @include fontMain;
        @include type;
        @include forms;
        @include stack;
        @include optional-styles;
        @include dark;
        @include page;
        @include utilities;
    }
    .ds-scope *,
    .ds-scope *::before,
    .ds-scope *::after {
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
}

@else {
     body {
        font-size: 100%;
        font-size: clamp(#{$s1}, 2vw, #{$s2});
        @include fontMain;
    }
     :body *,
     :body *::before,
     :body *::after {
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    @include type;
    @include forms;
    @include stack;
    @include optional-styles;
    @include dark;
    @include page;
    @include utilities;
}

.ds-page main {
    margin-top: 0rem;
    background-color: white;
}

main #dashboard {
    max-width: 90ch !important;
}

// TODO: should this be in the design system?
body.wide main {
    max-width: 140ch;
}

pre {
    background-color: #eff0f1;
    overflow: auto;
    padding: 5px;
    width: auto;
    word-wrap: normal;
    font-family: monospace;
    white-space: pre;
    max-height: none;
}

select.select_multirow {
    height: auto;
}

select[size],
select[multiple] {
    background-image: none;
}

input[type=radio] {
    visibility: hidden;
}

.link-button {
    display: inline-block;
    border: 2px solid #00AEEF;
    color: #00AEEF;
    font-size: 1rem;
    padding: 1rem 2rem 1.0625rem 2rem;
    text-decoration: none;
    margin: 1rem 0;
}


#language-menu {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    line-height: 1;

    button {
        font-family: Montserrat, sans-serif;
        background: none!important;
        border: none;
        padding: 0!important;
        text-decoration: underline;
        cursor: pointer;
    }
}

#language-label {
    font-family: Montserrat, sans-serif;
}

#feedback_form input[data-toggle]:checked+label,
#feedback_form input[data-toggle]:checked+label:active {
    background-color: #00AEEF;
    color: white;
    border-color: #0089bc;
    outline: 3px solid #ffbf47;
    .button-group.toggle li:not(first-child) {
        margin: 0 -0.9rem;
    }
}

.comments_container {
    padding-left: 10px;
    button {
        margin-top: 1rem;
    }
}

body.embed {
    padding-top: 0px;
    margin-top: 0px;

    footer {
      background-color: transparent;
      color: grey;
      display: inline-block;

    }
}
.dc-logo {
    height: 45px;;
}

.built-by {
    margin: 0.5em 0.5em 0.5em 9em;
}

#embed{
   text-align: center;
}

// TODO: remove when https://github.com/DemocracyClub/design-system/issues/37 is closed
.ds-status-message a {
  color: $white;
}

// TODO: see https://github.com/DemocracyClub/design-system/issues/38
input[type="radio"] {
  visibility: unset;
  opacity: 0;
}

.ds-status-message a, .ds-status-error * {
  color: $white;
  font-family: Montserrat, sans-serif;
}

#find-polling-station-form > div.ds-error {
//  centers the error for the postcode lookup
    margin: 1rem auto;
}

footer .ds-cluster-center ul li:nth-child(3) a span {
    color: inherit;
}

// override so logout button can look like ds-cta anchor
.ds-logout button.ds-cta-logout {
    display: inline-block;
    color: #E6007C;
    background-color: #fff;
    font-size: $s2;
    padding: $ss7 $s2;
    border: $ss2 solid;
    text-decoration: none;
    margin-top: 0;
}

.ds-logout button.ds-cta-logout:hover {
    transform: scale(1.05);
}
