{% extends "base.html" %}

{% block content %}
<main>
<h1>{{ council.name }}</h1>

<h2>Data quality</h2>
{% if council.pollingstation_set.all and not council.pollingdistrict_set.all %}
    <p><strong>Good news!</strong>  We have polling station locations for
        {{ council.name }}, but we don't know how the
        council has allocate houses to those stations, so we can't tell you
        exactly where to vote.</p>
    <p>You will have to phone the council on <a href="tel:{{ council.phone }}">
        {{ council.phone }}</a> to find your polling station</p>
{% endif %}
{% if council.pollingdistrict_set.all and not council.pollingstation_set.all %}
    <p><strong>Good news!</strong>  We have polling districts for
        {{ council.name }}, but we don't know exactly where the polling stations
        are yet, so we can't tell you exactly where to vote.</p>
    <p>You will have to phone the council on <a href="tel:{{ council.phone }}">
        {{ council.phone }}</a> to find your polling station</p>
{% endif %}
{% if not council.pollingdistrict_set.all and not council.pollingstation_set.all %}
<p>We don't have any data on {{ council.name }}, try contacting them and asking:</p>
<ul>
    <li>Where your polling station is (you'll need to give them your address)</li>
    <li>If they will open their polling data so this project and other can make use of it in future (say you came from this site)</li>
</ul>
{% endif %}
<ul>
    <li>{{ council.phone }}</li>
    <li>{{ council.email }}</li>
    <li>
        {{ council.address|linebreaksbr }}<br>
        {{ council.postcode }}
    </li>
</ul>


</main>
<div id="area_map" class="container"></div>
{% endblock content %}


{% block extra_javascript %}
<style>
    .council_location_icon {
        background-color:black;
        border-radius: 50%;
        height:2px;
        width:2px;
    }
</style>
<script>
alert('asd');

// Maps
window.create_area_map = function(point, feature) {
    var area = L.geoJson(feature);
    // var council_location = L.geoJson(point);
    var council_location = point;
    var b = area.getBounds();

    var map = L.map('area_map', {zoomControl:false}).setView(b.getCenter(), 13);
    map.fitBounds(map.fitBounds(b));
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

    var Stamen_TonerLite = L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: 'abcd',
    }).addTo(map);


    window.map = map;

    area.addTo(map);

    {% for area in council.pollingdistrict_set.all %}
        L.geoJson({{ area.area.geojson|safe }}).addTo(map);
    {% endfor %}

    {% for station in council.pollingstation_set.all %}
        L.marker([{{ station.location.1 }}, {{ station.location.0 }}], {
            'icon': L.divIcon({className: 'council_location_icon'}),
            'clickable': false,
        }).addTo(map);
    {% endfor %}


    L.marker(council_location, {
        'icon': L.divIcon({className: 'council_location_icon'}),
        'clickable': false,
    }).addTo(map);

}
// var point = {{ council.location.geojson|safe }};
var point = [{{ council.location.1 }}, {{ council.location.0 }}];
var feature = {{ council.area.geojson|safe }};

create_area_map(point, feature)

</script>
{% endblock extra_javascript %}