{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Rating</th>
        <th>ID</th>
        <th>Council</th>
        <th>Example</th>
        <th>Polling Stations</th>
        <th>Polling Districts</th>
        <th>Addresses</th>
        {% if request.user.is_staff %}
        <th>Edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for council in object_list %}
        <tr>
            <td>
              {% if council.rating == -1 %}
                Unrated
              {% else %}
                {{ council.rating}}
              {% endif %}
            </td>
            <td>{{ council.council_id }}</td>
            <td>{{ council.council.name }}</td>
            <td>
            {% if council.council.postcode %}
            <a href="{% url "postcode_view" postcode=council.council.postcode %}">{{ council.council.postcode }}</a>
            {% endif %}
            </td>
            <td>
              {{ council.num_stations }}
            </td>
            <td>
              {{ council.num_districts }}
            </td>
            <td>
              {{ council.num_addresses }}
            </td>
            {% if request.user.is_staff %}
            <td>
                <a href="{% url "admin:councils_council_change" council.council.pk %}">Edit</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
