{% extends "base.html" %}

{% block content %}
<div class="columns large-centered columns large-9 card">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Scraper</th>
            <th>Entity</th>
            <th>Started Polling</th>
            <th>Times Changed</th>
            <th>Last Changed</th>
        </tr>
        </thead>
        <tbody>
        {% for council in data %}
            <tr>
                <td>{{ council.council_id }}</td>
                <td>
                    <a href="https://morph.io/wdiv-scrapers/{{ council.scraper }}/">
                    {{ council.scraper }}
                    </a>
                </td>
                <td>{{ council.entity }}</td>
                <td>{{ council.started_polling|safe }}</td>
                <td>{{ council.changes }}</td>
                <td>{{ council.last_changed|safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
