{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h2>About this site</h2>
  </div>

  <h2 class="text-success">Why make a site to help people find their Polling Stations?</h2>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        Registered voters will be sent a polling card by their local council that will have 
        a map on it. 
      </p>
      <p class="lead">
        But we think that in the digital age, people might also expect that information to 
        be online, particularly if they lose the card or forget to carry it with them on the day.
      </p>
      <p class="lead">
        We think they’re quite likely to Google ‘where’s my polling station?’, and we’d like to 
        help them out.    
      </p>
    </div>
  </div>

  <h2 class="text-success clearfix">Who's behind this site?</h2>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        This site is part of the non-profit 
        <a href="http://democracyclub.org">Democracy Club</a> - who sourced the data
        from each individual Council via FOI requests.
      </p>
    </div>
  </div >

  <h2 class="text-success clearfix">You don't seem to have my Polling Station?</h2>
  <div class="row">   
    <div class="col-md-8">
      <p class="lead">
        Because this site is built by volunteers who have sourced the data by requesting
        it from each individual Council, unfortunately we don't have 100% coverage right now.
      </p>
      <p class="lead">
        We're very much working towards that though, and are actively working with councils up
        & down the country. Do feel free to 
        <a href="mailto:pollingstations@democracyclub.org.uk">
          drop us a line
        </a> if you'd like to discuss.      
      </p>
    </div>
  </div>

  <h2 class="text-success clearfix">I think you're sending me to the wrong polling station!</h2>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        If you think we're mis-directing you, then we <i>really</i> want to know ! 
        Please email us at
        <a href="mailto:pollingstations@democracyclub.org.uk">
          pollingstations@democracyclub.org.uk
        </a>
      </p>
    </div>
  </div>

  <h2 class="text-success clerfix">How can I help?</h2>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        If you'd like to help us importing the data we've collected, or by helping with the
        front-end web development or design, just 
        <a href="mailto:pollingstations@democracyclub.org.uk">email us</a> - there's plenty
        to do!
      </p>
      <p class="lead">
        Alternatively, you can head over to the
        <a href="https://github.com/DemocracyClub/UK-Polling-Stations/">
          Github repository
        </a> where we track issues and tasks.
      </p>
    </div>
  </div>

{% endblock %}
