{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="callout warning" style="overflow:auto">
    <div class="columns large-6 large-centered">
      <h5>Archived site</h5>
      <p>This site contains information about polling stations for the referendum in June 2016. We will be updating the site in time for May 2017.</p>
      <a href="https://democracyclub.org.uk/blog/">Follow our blog for news on what we're up to.</a>
    </div>
</div>

<div class="row">
  <div class="columns large-12">
    <div class="card">
      <h2 id="address_picker">
        {% trans "Choose Your Address / Street" %}
      </h2>

      <form method=post class="form form-inline">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <button type="submit" class="button" id="submit-address">
              {% trans "I've selected my address. Find my Polling Station" %}
            </button>
            <a class="button" href="{% url "we_dont_know" postcode=form.postcode %}">
                {% trans "My address is not in the list" %}
            </a>
        </div>
      </form>

    </div>

  </div>
</div>

{% endblock content %}

{% block in_page_javascript %}
<script type="text/javascript">
fallback.ready(['jQuery'], function() {
    $(document).ready(function() {
        var isAndroid = /(android)/i.test(navigator.userAgent);
        if (isAndroid) {
            $('.select_multirow').css('-webkit-appearance', 'menulist');
        }
    });
});
</script>
{% endblock in_page_javascript %}
