{% extends "dc_base.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block site_meta %}
  <title>
    {% block base_title %}
    {% block page_title %}{% endblock page_title %} | {{ site_title }} by Democracy Club
    {% endblock base_title %}
  </title>

  <meta name="description" content="{% block description %}Find out where to vote{% endblock %}">
  <meta name="keywords" content="{% block keywords %}Polling stations,Election,General Election,Local Election{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="canonical" href="{{ CANONICAL_URL }}{{ request.path }}">
  <meta property="og:site_name" content="WhereDoIVote?">
  <meta property="og:url" content="{{ CANONICAL_URL }}{{ request.path }}">
  <meta property="fb:app_id" content="262795130596272">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@democlub">
  <meta property="og:image" content="{{ CANONICAL_URL }}{% block og_image %}{% static "dc_theme/images/logo.png" %}{% endblock og_image %}">
  <meta property="og:title" content="{% block og_title %}{{ site_title }}{% endblock og_title %}">
  <meta property="og:description" content="{% block og_description %}Find where to vote{% endblock og_description %}">
  {% if noindex %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% block page_meta %}{% endblock page_meta %}
{% endblock site_meta %}


