{% extends "dc_base_naked.html" %}
{% load static from staticfiles %}

{% block body_class_attr %}class="embed"{% endblock body_class_attr %}
{% block body_base %}

    {% block content %}{% endblock content %}

    <footer class="row">
      <div class="columns large-12">
          <p>
            Built by
            <a href="http://democracyclub.org.uk" target="_top">
              <img src="{% static 'images/logo-with-text.png' %}" class="dc-logo" alt="Democracy Club logo">
            </a>
          </p>
      </div>
    </footer>

{% endblock body_base %}
