{% extends "dc_base_naked.html" %}
{% load static from staticfiles %}

{% block body_class_attr %}class="embed"{% endblock body_class_attr %}
{% block body_base %}

    {% block content %}{% endblock content %}

    <footer>
        <p>
          Built by
          <a href="http://democracyclub.org.uk" target="_top">
            <img src="{% static 'dc_theme/images/logo-with-text.png' %}" class="dc-logo" alt="Democracy Club logo" style="align:center;max-width:150px">
          </a>
        </p>
    </footer>

{% endblock body_base %}
