{% extends base_template|default:"base_full.html" %}
{% load static from staticfiles %}
{% load pipeline %}
{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}

{% block top_banner %}
{% if SERVER_ENVIRONMENT == 'test' or SERVER_ENVIRONMENT == 'staging' %}
<div class="container">
  <div class="card centered-card banner_message">
    <p>This is a staging site.</p>
  </div>
</div>
{% endif %}
{% endblock top_banner %}


{% block ga_tracking_code %}
{% if not debug and not disable_ga %}
<script type="text/javascript">
  var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack || "0";
  if (dnt != "1" && dnt != "yes") {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61638489-1', 'auto');
    ga('send', 'pageview');
  }
</script>
{% endif %}
{% endblock ga_tracking_code %}


{% block site_footer %}
<footer class="footer">
  <div class="container">
    <h3>{{ site_title }}</h3>
    <nav aria-label="primary">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="https://democracyclub.org.uk/projects/polling-stations/">About</a></li>
        <li><a href="https://democracyclub.org.uk/privacy/">Privacy</a></li>
        <li><a href="{% url 'api_docs' %}">API</a></li>
        <li><a href="https://democracyclub.org.uk/blog/">Blog</a></li>
        <li><a href="{% url 'dc_signup_form:mailing_list_signup_view' %}">Mailing List</a></li>
        <li><a href="https://democracyclub.org.uk/contact/">Contact</a></li>
        <li><a href="https://pay.gocardless.com/AL0002ADNQEX22">Donate</a></li>
      </ul>
    </nav>

    <h3>Made by Democracy Club</h3>
    <p>Democracy Club is a UK based Community Interest Company that builds
      the digital infrastructure needed for a 21st century democracy</p>
    <nav aria-label="secondary">
      <ul>
        <li><a href="https://democracyclub.org.uk/about/">About Democracy Club</a></li>
        <li><a href="https://democracyclub.org.uk/contact/">Contact Us</a></li>
        <li><a href="https://democracyclub.org.uk/donate/">Donate</a></li>
        <li><a href="https://democracyclub.org.uk/blog/">Blog</a></li>
        <li><a href="{% url 'dc_signup_form:mailing_list_signup_view' %}">Mailing List</a></li>
        <li><a href="https://twitter.com/democlub">Twitter</a></li>
        <li><a href="https://facebook.com/DemocracyClub">Facebook</a></li>
        <li><a href="https://github.com/DemocracyClub">GitHub</a></li>
      </ul>
    </nav>

    <p>Copyright © {% now "Y" %} Democracy Club Community Interest Company Company No: <a href="https://beta.companieshouse.gov.uk/company/09461226">09461226</a></p>
    <p>
      Contains OS data © Crown copyright and database right {% now "Y" %}<br>
      Contains Royal Mail data © Royal Mail copyright and database right {% now "Y" %}<br>
      Contains National Statistics data © Crown copyright and database right {% now "Y" %}<br>
    </p>

  </div>
</footer>
{% endblock site_footer %}


{% block extra_javascript %}
{% if RAVEN_CONFIG %}
  {% load raven %}
  <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% endif %}

{% javascript 'scripts' %}
{% endblock extra_javascript %}
