{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% block extra_content %}{% endblock extra_content %}
<div class="row">
  <div class="columns large-centered columns large-6 card">
    {% if not is_whitelabel %}
    <header>
      <h2>{% trans "Find your polling station" %}</h2>
    </header>
    {% endif %}
    <form method=post class="form form-inline">
      {% csrf_token %}
      <label class="card_header">{% trans "Enter Your Postcode" %}
        <input id="id_postcode" name="postcode" type="text" aria-describedby="postcode_help_text" autofocus >
      </label>
      <p class="help-text" id="postcode_help_text">{% trans 'e.g. <a href="postcode/CF105AJ/">CF10 5AJ</a>' %}</p>
      <button type="submit" class="button" id="submit-postcode">{% trans "Find your Polling Station" %}</button>
    </form>
  </div>
</div>

{% endblock content %}
