{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}
<div class="card">
  <h2>{% blocktrans %}Contact Your Council{% endblocktrans %}</h2>

  {% blocktrans with council.electoral_services_phone_numbers.0 as council_phone %}
  <p>Your polling station address should be printed on your polling card, which is delivered by post before an election.</p>
  <p>Or, you need to contact your council. Residents in {{ postcode }} may be in one of the following council areas:</p>
  {% endblocktrans %}

  {% for council in councils %}
  <p>
    <h3>{{ council.name }}</h3>
    {% for phone_number in council.electoral_services_phone_numbers %}
      <abbr title="Phone">{% trans "P:" context "Short for Phone:" %}</abbr> <a href="tel:{{ phone_number }}">{{ phone_number }}</a><br>
    {% endfor %}
    <abbr title="Email">{% trans "E:" context "Short for Email:" %}</abbr>
    <a href="mailto:{{ council.email }}">{{ council.email }}</a>
  </p>
  {% endfor %}
</div>

{% include "fragments/you_dont_need_poll_card.html" %}
{# include "fragments/register_to_vote.html" #}
{% endblock content %}
