{% extends base_template|default:"base.html" %}

{% load i18n_with_welsh %}
{% load static %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}
    <div class="ds-card">
        <div class="ds-card-body">
            <h2>{% blocktrans %}Contact Your Council{% endblocktrans %}</h2>

            <p>{% trans "Your polling station address should be printed on your polling card, which is delivered by post before an election." %}</p>
            <p>{% blocktrans %}Or, you need to contact your council. Residents in {{ postcode }} may be in one of the following council areas:{% endblocktrans %}</p>

            {% for council in councils %}
                <p>
                    <h3>{{ council }}</h3>
                    {% for phone_number in council.electoral_services_phone_numbers %}
                        <abbr title="{% trans "Phone" context "abbr title attribute" %}">{% trans "P:" context "Short for Phone:" %}</abbr> <a href="tel:{{ phone_number }}">{{ phone_number }}</a><br>
                    {% endfor %}
                    <abbr title="{% trans "Email" context "abbr title attribute" %}">{% trans "E:" context "Short for Email:" %}</abbr>
                    <a href="mailto:{{ council.electoral_services_email }}">{{ council.electoral_services_email }}</a>
                </p>
            {% endfor %}
        </div>
    </div>

    {% include "fragments/you_dont_need_poll_card.html" %}
    {#    {% include "fragments/register_to_vote.html" %}#}
{% endblock content %}
