{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block extra_page_css %}
<link rel="stylesheet" href="{% static "css/map.css" %}" />
<link rel="stylesheet" href="{% static "Leaflet.ExtraMarkers/css/leaflet.extra-markers.min.css" %}">
<style>
  .council_location_icon {
    background-color:black;
    border-radius: 50%;
    height:2px;
    width:2px;
  }
  address {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
</style>
{% endblock extra_page_css %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}

<div class="row">
  <div class="columns large-8">
    <div class="card">
    {% if error %}

      {% if error == 'Mapit error 403: Rate limit exceeded' %}

        {% blocktrans %}
        <h2>Sorry, we're a bit busy right now!</h2>
        <p>Try again in a few minutes.</p>
        {% endblocktrans %}

      {% elif error == 'There are no upcoming elections in your area' %}

        <h2>{{ error }}</h2>
        {% if council.phone %}
          {% blocktrans with council.name as council_name and council.phone as council_phone %}
          <p>
            We're not aware of any upcoming elections in your area. If you think there may be elections in your area, please call your council to check and then <a href="https://democracyclub.org.uk/contact/" target="_top">let us know</a>.*
            You can contact {{ council_name }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>
          </p>
          {% endblocktrans %}
        {% else %}
          {% blocktrans with council.name as council_name %}
          <p>
            We're not aware of any upcoming elections in your area. If you think there may be elections in your area, please call {{ council_name }} to check and then <a href="https://democracyclub.org.uk/contact/" target="_top">let us know</a>.*
          </p>
          {% endblocktrans %}
        {% endif %}
        <p>
          <small>
            * Why can't we be certain? Because there is no definitive source of UK elections.
            You can help us build the free, public database at <a href="https://elections.democracyclub.org.uk" target="_top">Every Election</a>.
          </small>
        </p>

      {% else %}

        {% blocktrans %}
        <h2>Sorry, we can't find {{ postcode }}</h2>
        <p>This doesn't appear to be a valid postcode.</p>
        {% endblocktrans %}
        <form method="post" action="{% url 'home' %}" class="form form-inline">
            {% csrf_token %}
            <label class="card_header">{% trans "Enter Your Postcode" %}
              <input id="id_postcode" name="postcode" type="text" aria-describedby="postcode_help_text" autofocus >
            </label>
            <p class="help-text" id="postcode_help_text">
              {% trans 'e.g.' %} <a href="{{ example_postcode.url }}">{{ example_postcode.display }}</a>
            </p>
            <button type="submit" class="button" id="submit-postcode">{% trans "Find your Polling Station" %}</button>
        </form>

      {% endif %}

    {% else %}

      {% if custom %}

        <div>{{ custom.message|safe }}</div>
        {% if custom.base_url and custom.can_pass_postcode %}

            <p><a href="{{ custom.base_url }}{{ custom.encoded_postcode }}" target="_top">{% trans "Find your polling station" %}</a></p>
            {% if council.phone %}
              {% blocktrans with council_phone=council.phone council_name=council.name %}
              <p>Alternatively, contact {{ council_name }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong></p>
              {% endblocktrans %}
            {% endif %}

        {% else %}
            {% if custom.base_url %}

                <p><a href="{{ custom.base_url }}" target="_top">{% trans "Find your polling station" %}</a></p>
                {% if council.phone %}
                  {% blocktrans with council_phone=council.phone council_name=council.name %}
                  <p>Alternatively, contact {{ council_name }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong></p>
                  {% endblocktrans %}
                {% endif %}

            {% endif %}
        {% endif %}

      {% else %}

        <h2>
            {% if we_know_where_you_should_vote %}
            {% trans "Your polling station" %}
            {% else %}
            {% blocktrans with council.name as council_name %}Contact {{ council_name }}{% endblocktrans %}
            {% endif %}
        </h2>

        {% if we_know_where_you_should_vote %}
            <div>
            <address>
                {% if station.formatted_address %}
                {{ station.formatted_address|linebreaksbr }}<br />
                {% endif %}

                {% if station.postcode %}
                  {% if not station.postcode in station.address %}
                      {{ station.postcode }}
                  {% endif %}
                {% endif %}
            </address>
            </div>
            {% if directions.walk_time %}
            <div id="directions">
            <p>
                {% blocktrans with directions.walk_time as walk_time and directions.walk_dist as walk_dist %}
                It's about {{ walk_dist }} away or a {{ walk_time }} walk from {{ postcode }}.
                {% endblocktrans %}</p>
            <a href="https://www.google.com/maps/dir/{{ location.y }},{{ location.x }}/{{ station.location.y }},{{ station.location.x }}" target="_top">
                {% trans "Get walking directions" %}
            </a>
            </div>
            {% endif %}
        {% else %}
            {% blocktrans with council.phone as council_phone %}
            <p>We don't have data for your area.</p>

            <p>Your polling station address should be printed on your polling card, which is delivered by post before an election.</p>
            <p>Or, you need to contact the council. You can call them on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong></p>
            {% endblocktrans %}
        {% endif %}

        {% if we_know_where_you_should_vote and station.location %}
        <div id="area_map" class="card_inset"></div>
        {% endif %}

      {% endif %}

    {% endif %}
    </div>

    {% if not we_know_where_you_should_vote and not custom and not error %}
      {% include "notifications/campaign_signup.html" %}
    {% endif %}

    {% if error == 'There are no upcoming elections in your area' %}
      {% include "notifications/election_notification_form.html" %}
      {% include "notifications/ical_feed.html" %}
    {% endif %}

    {% if we_know_where_you_should_vote and election_explainers %}
      {% include "election_explainers.html" %}
    {% endif %}
  </div>


  <div class="columns large-4">
    {% include "sidebar/you_dont_need_poll_card.html" %}
    {# include "sidebar/register_to_vote.html" #}
    {% include "sidebar/info_on_your_candidates.html" %}

    {% if council.address or council.postcode or council.phone or council.email %}
    <div class="card">
      <h3>{% trans "Council Contact info" %}</h3>
      <address>
        {{ council.address|linebreaksbr }}<br>
        {{ council.postcode }}<br><br>
        <abbr title="Phone">{% trans "P:" context "Short for Phone:" %}</abbr> <a href="tel:{{ council.phone }}">{{ council.phone }}</a><br>
        <abbr title="Email">{% trans "E:" context "Short for Email:" %}</abbr>
        <a href="mailto:{{ council.email }}">{{ council.email }}</a>
      </address>
    </div>
    {% endif %}

  </div>
</div>
{% endblock content %}

{% block in_page_javascript %}
  <script type="text/javascript">

    // Maps
    window.create_area_map = function(point) {

      var homeMarker = L.ExtraMarkers.icon({
          icon: 'fa-home',
          markerColor: 'purple',
          iconColor: 'white',
          shape: 'circle',
          prefix: 'fa'
      });
      var stationMarker = L.ExtraMarkers.icon({
          icon: 'fa-check-square',
          markerColor: 'purple',
          iconColor: 'white',
          shape: 'circle',
          prefix: 'fa'
      });
      var polling_station_location = point;

      var map = L.map('area_map', {zoomControl:true, dragging: !L.Browser.mobile});
      {% if request.brand == 'embed' %}
      map.scrollWheelZoom.disable();
      {% endif %}

      var tiles;
      {% if tile_layer == 'MapQuestSDK' and mq_key %}
        $.getScript("http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key={{ mq_key }}").done(function() {
          tiles = MQ.tileLayer();
          tiles.addTo(map);
        });
      {% else %}
        {% if tile_layer == 'OpenStreetMap' %}
        tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            subdomains: 'abc'
        });
        {% else %}
        tiles = L.tileLayer('https://otile{s}-s.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}', {
            type: 'map',
            ext: 'jpg',
            attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_top">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright" target="_top">OpenStreetMap</a>',
            subdomains: '1234'
        });
        {% endif %}
        tiles.addTo(map);
      {% endif %}

      // polling station
      L.marker([{{ station.location.1 }}, {{ station.location.0 }}], {
        'clickable': true,
        'icon': stationMarker
      }).addTo(map);

      {% if directions.route %}
      var pointList = [
      {% for p in directions.route %}
          new L.LatLng({{p.1}}, {{p.0}}){% if not forloop.last %},{% endif %}
      {% endfor %}
      ];

      // home
      L.marker(pointList[0], {
        'clickable': true,
        'icon': homeMarker
      }).addTo(map);

      var firstpolyline = new L.Polyline(pointList, {
        color: 'red',
        weight: 3,
        opacity: 1.0,
        smoothFactor: 1,
        dashArray: "5, 5"
      });
      firstpolyline.addTo(map);
      {% endif %}

      window.map = map;
      window.polling_station_location = polling_station_location;

      {% if directions.route %}
      map.fitBounds(firstpolyline.getBounds(), {maxZoom: 16});
      {% else %}
      map.setView([{{ station.location.1 }}, {{ station.location.0 }}],15);
      {% endif %}
    };

    var point = [{{ location.1 }}, {{ location.0 }}];

    {% if we_know_where_you_should_vote and station.location %}
    fallback.ready(['L.ExtraMarkers'], function() {
        create_area_map(point);
    });
    {% endif %}

  </script>
{% endblock in_page_javascript %}


{% block extra_javascript %}
<script type="text/javascript">
        fallback.load({
          'css$font-awesome': [
              '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css',
              '{% static 'css/font-awesome.min.css' %}'
          ],
          L: [
              '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js',
              '{% static 'js/leaflet.js' %}'
          ],
          'L.ExtraMarkers': [
              '{% static "Leaflet.ExtraMarkers/js/leaflet.extra-markers.min.js" %}'
          ]}, {
            shim: {
              'L': ['jQuery'],
              'L.ExtraMarkers': ['L']
            }
          }
        );

{% if not we_know_where_you_should_vote or not has_election %}
  {% if not custom %}

  {% if not has_election %}
    var url = '{% url "election_notification_signup" postcode=postcode %}';
    var success_message = '<h2>{% trans "Thanks" %}</h2>' +
      '<p>{% trans "We will email you when there is an election in this area. " %}';
    var form_fields = ['email'];
  {% else %}
    var url = '{% url "campaign_signup" postcode=postcode %}';
    var success_message = '<h2>{% trans "Thanks" %}</h2>' +
      '<p>{% trans "Thanks for signing up. If enough people in your local area sign up, " %}' +
      '{% trans "we will contact the head of your council on your behalf. " %}' +
      '{% trans "We won’t share your email address with them or anyone else." %}</p>';
    var form_fields = ['name', 'email'];
  {% endif %}

  fallback.ready(['jQuery'], function() {

    $(document).ready(function() {

      $('#submit').on('click', function() {
        // submit email signup form

        var data = {
          'join': $('#join').is(':checked')
        };
        for (var i = 0; i < form_fields.length; i++) {
          data[form_fields[i]] = $('#' + form_fields[i]).val();
        }

        $.ajax({
          type: 'POST',
          dataType: 'json',
          url: url,
          data: data
        }).done(function() {
          // sucessful signup
          $('#signup_form').html(success_message);
          $('#signup_form').focus();
        }).fail(function(err) {
          // validation error
          for (var field in err.responseJSON.errors) {
            if (err.responseJSON.errors[field] === 1) {
              $('#' + field + '_error').addClass('is-visible');
            } else {
              $('#' + field + '_error').removeClass('is-visible');
            }
          }
        });
      });

    });

  });
  {% endif %}
{% endif %}
</script>
{% endblock extra_javascript %}
