{% extends base_template|default:"base.html" %}

{% load i18n %}
{% load static %}
{% load pipeline %}

{% block extra_page_css %}

    {% if show_map %}
        {% stylesheet 'map' %}
    {% endif %}

{% endblock extra_page_css %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}

    {% if error %}
        {% include "fragments/errors.html" %}
    {% else %}
        {% if has_election %}

            {% if custom %}
                {% include "custom_finder.html" %}
            {% else %}

                {% if we_know_where_you_should_vote %}
                    {% include "fragments/polling_station_known.html" %}
                {% else %}
                    {% include "fragments/polling_station_unknown.html" %}
                {% endif %}

            {% endif %}
        {%  elif ni_out_of_cycle_station %}
            {% include "fragments/ni_out_of_cycle_station.html" %}
        {% else %}
            {% include "fragments/no_election.html" %}
        {% endif %}

    {% endif %}

    {#    {% include "fragments/register_to_vote.html" %}#}
    {% if has_election %}
        {% include "fragments/you_dont_need_poll_card.html" %}
        {% include "fragments/info_on_your_candidates.html" %}
        {% include "fragments/generic_accessibility.html" %}
    {% endif %}

    {% if council.electoral_services_address or council.electoral_services_postcode or council.electoral_services_phone_numbers or council.electoral_services_email %}
        {% include "fragments/contact_details.html" %}
    {% endif %}

    {% if not error and request.brand == 'democracyclub' and not messages %}
        {% include "fragments/ical_feed.html" %}
    {% endif %}

    {% if we_know_where_you_should_vote or custom %}
        {% if request.brand == 'democracyclub' and has_election and not error %}
            <div class="ds-card">
                {% include "feedback/feedback_form.html" %}
                <div id="report_form_container" style="display: none;">
                    {% include "bug_reports/report_form_inline.html" %}
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block in_page_javascript %}
    <script type="text/javascript">
        {% if request.brand == 'embed' %}
            var embed = true;
        {% else %}
            var embed = false;
        {% endif %}

        {% if mq_key %}
            var mq_key = '{{ mq_key }}';
        {% else %}
            var mq_key = null;
        {% endif %}

        {% if show_map %}
            $(document).ready(function() {
                var station_point = [{{ station.location.1 }}, {{ station.location.0 }}];
                var tile_layer = '{{ tile_layer }}';

                {% if directions %}
                    var directions = {
                        route: {{ directions.route|safe }},
                        precision: {{ directions.precision }}
                    };
                {% else %}
                    var directions = {};
                {% endif %}

                var map = new PollingStationMap('area_map');
                map.draw(station_point, embed, tile_layer, mq_key, directions);
            });
        {% endif %}
        {% if we_know_where_you_should_vote and advance_voting_station.location %}
            var avs_station_point = [{{ advance_voting_station.location.1 }}, {{ advance_voting_station.location.0 }}];
            var avs_tile_layer = '{{ tile_layer }}';
            var avs_map = new PollingStationMap('advance_voting_station_map');
            avs_map.draw(avs_station_point, embed, avs_tile_layer, mq_key, {});
        {% endif %}
    </script>
{% endblock in_page_javascript %}


{% block extra_javascript %}

    {% javascript 'scripts' %}

    {% if show_map %}
        {% javascript 'map' %}
    {% endif %}

    {% include "fragments/feedback_js.html" %}

{% endblock extra_javascript %}
