{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pipeline %}

{% block extra_page_css %}

{% if we_know_where_you_should_vote and station.location %}
  {% stylesheet 'map' %}
{% endif %}

<style>
  .council_location_icon {
    background-color:black;
    border-radius: 50%;
    height:2px;
    width:2px;
  }
  address {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  .callout.success {
    margin-top: 2rem;
  }
</style>
{% endblock extra_page_css %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}

    <div class="card">

      {% if error %}
        {% include "fragments/errors.html" %}
      {% else %}

        {% if custom %}
          {% include "custom_finder.html" %}
        {% else %}

          {% if we_know_where_you_should_vote %}
            {% include "fragments/polling_station_known.html" %}
          {% else %}
            {% include "fragments/polling_station_unknown.html" %}
          {% endif %}

        {% endif %}

      {% endif %}

    </div>

    {% if we_know_where_you_should_vote and election_explainers %}
      {% include "election_explainers.html" %}
    {% endif %}

    {% if we_know_where_you_should_vote or custom %}
      {% if request.brand == 'democracyclub' and not error %}
        <div class="card">
          {% include "feedback/feedback_form.html" %}
          <p>
            <a
              href="{% url 'bug_report_form_view' %}?source=wheredoivote&amp;source_url={{ request.path|urlencode }}"
              class="link-button"
            >
              Report a problem with this page
            </a>
          </p>
        </div>
      {% endif %}
    {% endif %}


    {% include "fragments/you_dont_need_poll_card.html" %}
    {% include "fragments/register_to_vote.html" %}
    {# include "fragments/info_on_your_candidates.html" #}

    {% if council.address or council.postcode or council.phone or council.email %}
      {% include "fragments/contact_details.html" %}
    {% endif %}

    {% if not error or error == "We don't know of any upcoming elections in your area" %}
      {% if request.brand == 'democracyclub' and not messages %}
        <div class="card">
          <h2>Free election reminders</h2>
          <p>We can email you the next time there is an election in {{ postcode }}.</p>
          {% include "email_form/election_reminders_form.html" %}
        </div>
        {% include "fragments/ical_feed.html" %}
      {% endif %}
    {% endif %}

{% endblock content %}

{% block in_page_javascript %}
  <script type="text/javascript">
    {% if we_know_where_you_should_vote and station.location %}
      $(document).ready(function() {
        var station_point = [{{ station.location.1 }}, {{ station.location.0 }}];
        var tile_layer = '{{ tile_layer }}';

        {% if directions %}
            var directions = {
                route: {{ directions.route|safe }},
                precision: {{ directions.precision }}
            };
        {% else %}
            var directions = {};
        {% endif %}

        {% if request.brand == 'embed' %}
            var embed = true;
        {% else %}
            var embed = false;
        {% endif %}

        {% if mq_key %}
            var mq_key = '{{ mq_key }}';
        {% else %}
            var mq_key = null;
        {% endif %}

        var map = new PollingStationMap('area_map');
        map.draw(station_point, embed, tile_layer, mq_key, directions);
      });
    {% endif %}
  </script>
{% endblock in_page_javascript %}


{% block extra_javascript %}

  {% javascript 'scripts' %}

  {% if we_know_where_you_should_vote and station.location %}
    {% javascript 'map' %}
  {% endif %}

  {% include "feedback/feedback_js.html" %}

{% endblock extra_javascript %}
