{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="columns large-8 large-centered">
    <div class="card">

      <h2 id="simple_version">Simple Version</h2>

      <p>This site is run by Democracy Club who are a
      <a href="https://beta.companieshouse.gov.uk/company/09461226">UK based Community interest company (or CIC), Company number 09461226</a></p>

      <p>We make the following promises about your personal information as a user of the site:</p>

      <ul>
      <li>We will not sell or distribute your email address or other personal information.</li>
      <li>We will gladly show you the personal data we store about you in order to run the website.</li>
      <li>We may use your email address to contact you about your use of the site if it&#8217;s problematic
      (or particularly helpful!), or with occasional announcements about Democracy Club projects.</li>
      </ul>

      <h2 id="details">Details</h2>

      <p>We store your IP address for our logs. We also store the postcode entered on the site, purely
      for statistical use, and the postcode is never stored against any other personal information of any sort.</p>

      <p>We also use Google Analytics to aggregate and track data about usage of the site;
      you can use a browser plugin to opt out of having data collected by Google Analytics.</p>

    </div>
  </div>
</div>

{% endblock content %}
