{% extends "file_uploads/council_user_base.html" %}

{% block council_content %}

    <p>
        Welcome to Democracy Club’s new polling station uploader tool! We hope this will streamline the process for providing your lists of polling places to us.
    </p>
    <p>
        Information on <a href="https://democracyclub.org.uk/projects/polling-stations/upload/">
            how to export the necessary files can be found on our website</a>.
    </p>
    <p>
        If you have any questions please <a href="mailto:pollingstations@democracyclub.org.uk">get in touch</a>.
    </p>

    <h2>About the Polling Station Finder</h2>

    <p>
        Democracy Club’s <a href="https://wheredoivote.co.uk/">WhereDoIVote.co.uk</a> allows voters to find their assigned
        polling station using nothing more than a postcode.
        The data you provide also powers the postcode look-up on <a href="https://www.electoralcommission.org.uk/i-am-a/voter">
            The Electoral Commission</a> voter pages,
        and is available for other organisations to use, free of charge.
    </p>
    <p>
        You can add our <a href="https://democracyclub.org.uk/projects/polling-stations/embed/">
            polling station widget</a> to your own website for free.
    </p>

    <h2>How the uploader works</h2>

    <p>
        Each time you log in we will email you a new 'magic link'. Check your emails for an email from us that contains
        the link. Click the link to log in. This link will remain live for two hours.
    </p>

    <p>When you log in, we automatically assign you to the council which relates to your email address.
        If you are responsible for polling station data for more than one council, please get in touch with the necessary details and we'll give you permission to upload data for them.</p>

    <p>Once logged in, you are presented with a page that displays your public contact information (drawn from The Electoral Commission website) and
        the status of any existing uploads</p>

    <p>If we have upcoming elections in our system for your council then you'll see an upload button. Press this to select and upload
        the export from your EMS.</p>
    <p>Once uploaded, the system performs some automatic checks to make sure the export is in the correct format.
        Once these checks are complete, the file <strong>does not</strong> get added to the polling station finder automatically. Our developers will have to process
        it manually. This could take up to a couple of weeks depending on how busy we are.</p>

    <p>When the data is live on the site we will contact you via email to let you know. At that point you can log back in and check an example page for each polling station.</p>

    <p>All data is removed immediately after the election it is assigned to is over. We always err on the side of caution, and will not display information if we are at all unsure about it.</p>

    <p>Please note the finder does not at present cover standalone town, parish, or community council elections, or other forms of local polls (eg. planning referendums).</p>

    <h2>About the Polling Station Finder</h2>

    <p>
        Democracy Club’s <a href="https://wheredoivote.co.uk/">WhereDoIVote.co.uk</a> allows voters to find their assigned
        polling station using nothing more than a postcode.
        The data you provide also powers the postcode look-up on <a href="https://www.electoralcommission.org.uk/i-am-a/voter">
            The Electoral Commission</a> voter pages,
        and is available for other organisations to use, free of charge.
    </p>
    <p>
        You can add our <a href="https://democracyclub.org.uk/projects/polling-stations/embed/">
            polling station widget</a> to your own website for free.
    </p>

{% endblock %}
