{% extends "base.html" %}

{% block content %}
  <h2>Upload Accessibility Information</h2>
  {% if not errors and not warnings %}
    <p>✔️ Accessibility Information uploaded sucessfully with no errors and no warnings</p>
  {% endif %}

  {% if errors %}
    <p>❌ Accessibility Information was <strong>not</strong> uploaded</p>
    <p>⛔ The following errors occurred:</p>
    {{ errors }}
    {% if warnings %}
      <p>⚠️ Also the following warnings occurred:</p>
      {{ warnings }}
    {% endif %}
    <p><a href="{% url 'file_uploads:accessibility_upload' council_id=council_id %}" class="ds-cta ds-cta-blue">Upload again</a></p>
  {% endif %}

  {% if not errors and warnings %}
    <p>😐 Accessibility Information was uploaded</p>
    <p>⚠️ However, the following warnings occurred:</p>
    {{ warnings }}
    <p><a href="{% url 'file_uploads:accessibility_upload' council_id=council_id %}" class="ds-cta ds-cta-blue">Upload again</a></p>
  {% endif %}

  <p><a href="{% url 'file_uploads:councils_detail' pk=council_id %}" class="ds-cta ds-cta-blue">Back to council</a></p>
{% endblock content %}
