{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block page_title %}{{ object.name }} - {% trans "Uploads" %}{% endblock page_title %}

{% block extra_page_css %}
<style>
  .file-valid::before {
    content: "✔️ "
  }
  .file-not-valid::before {
    content: "❌ "
  }
</style>
{% endblock extra_page_css %}

{% block content %}
  {% include "file_uploads/uploads_header.html" %}

  <section class="card">
    <h1>{{ object.name }} - Uploads</h1>

    <p>
      <a href="{% url 'file_uploads:file_upload' gss=object.council_id %}" class="link-button">
        Upload
      </a>
    </p>

    {% for upload in object.upload_set.all %}
        <h3>{{ upload.timestamp | naturaltime }}
        {% if upload.github_issue %} -
        <a href="{{ upload.github_issue }}">GitHub issue</a>
        {% endif %}
        </h3>

        {% if upload.file_set.all %}
          <ul style="list-style-type:none">
            {% for file in upload.file_set.all %}
            <li class="{% if file.csv_valid %}file-valid{% else %}file-not-valid{% endif %}">
              {{ file.path }}
              <a href="{% url 'file_uploads:files_detail' pk=file.id %}">
                {{ file.filename }}
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}

    {% empty %}
      No uploads found!
    {% endfor %}
  </section>
{% endblock content %}
