{% extends "file_uploads/council_user_base.html" %}
{% load i18n %}
{% load upload_status_emoji %}


{% block page_title %}{% trans "Uploads" %}{% endblock page_title %}
{% block title %}Upload{% endblock %}

{% block council_content %}
    <p>
        Welcome to Democracy Club’s polling station data uploader. Select a council to upload a file.
        If you experience any problems, please contact <a href="mailto:pollingstations@democracyclub.org.uk">pollingstations@democracyclub.org.uk</a>.
    </p>
    <h1>{% if request.user.is_staff %}
        All councils
    {% else %}
        Your councils
    {% endif %}
    </h1>
    {% if object_list %}
        <table class="ds-table">
            <tr>
                {% if request.user.is_staff %}<th>Council ID</th>{% endif %}
                <th>Council Name</th>
                {% if request.user.is_staff %}<th>Email</th>{% endif %}
                {% if request.user.is_staff %}<th>Upload</th>{% endif %}
                <th>File Uploaded</th>
                <th>Stations Imported</th>
            </tr>
            {% for council in object_list %}
                <tr>
                    {% if request.user.is_staff %}<td>{{ council.council_id }}</td>{% endif %}
                    <td>
                        <a href="{% url 'file_uploads:councils_detail' pk=council.council_id %}">
                            {{ council.name }}
                        </a>
                    </td>
                    {% if request.user.is_staff %}
                        <td><a href="mailto:{{ council.electoral_services_email }}">{{ council.electoral_services_email }}</a></td>
                    {% endif %}
                    {% if request.user.is_staff %}<td>
                        <a href="{% url 'file_uploads:file_upload' gss=council.council_id %}">
                            upload
                        </a>
                    </td>
                    {% endif %}
                    <td>
                        {{ council.upload_set.future.with_status.latest.status | upload_status_emoji }}
                    </td>
                    {% if council in COUNCILS_WITH_STATIONS  %}
                        <td>✔️</td>
                    {% else %}
                        <td>❌</td>
                    {% endif %}

                </tr>

            {% endfor %}
        </table>

    {% else %}
        <h2>You have no councils assigned.</h2>
        <p>Please <a href="mailto:pollingstations@democracyclub.org.uk">email us</a>
            with the email address you used to log in and we'll investigate.</p>

        <p>In the mean time, you can email the export from your EMS to the same address and we'll manually process your data.</p>
    {% endif %}
{% endblock council_content %}
