{% extends "file_uploads/council_user_base.html" %}
{% load humanize %}
{% load i18n %}
{% load upload_status_emoji %}

{% block page_title %}{{ object.name }} - {% trans "Uploads" %}{% endblock page_title %}
{% block title %}{{ object.name }} - {% trans "Uploads" %}{% endblock title %}

{% block council_content %}

    <h1>{{ object.name }}</h1>
    <h2>Uploads</h2>
    {% if HAS_UPCOMING_ELECTIONS %}

        {% if object.upload_set.with_status.future.exists %}
            <table class="ds-table">
                <th>Election Date</th>
                <th>Uploaded</th>
                <th>Files</th>
                <th>File upload status</th>
                <th>Data live?</th>

                {% for upload in object.upload_set.with_status.future %}

                    <tr>
                        <td>
                            {% if upload.github_issue %}
                                <a href="{{ upload.github_issue }}">{{ upload.election_date }}</a>
                            {% else %}
                                {{ upload.election_date }}
                            {% endif %}
                        </td>
                        <td>{{ upload.timestamp|naturaltime }}</td>
                        <td>
                            {% if upload.file_set.exists %}
                                <ul style="list-style-type:none">
                                    {% for file in upload.file_set.all %}
                                        <li>
                                            {{ file.status_emoji }}
                                            {{ file.path }}
                                            <a href="{% url 'file_uploads:files_detail' pk=file.id %}">
                                                {{ file.filename }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>
                            {{ upload.status | upload_status_emoji }}
                            {% if upload.status == "PENDING" or upload.status == "WAITING" %}
                                <br><small>(Refresh page to update)</small>
                            {% endif %}
                        </td>
                        <td>
                            {% if live_upload %}
                                {% if upload.pk == live_upload.pk %}
                                    ✔️
                                {% endif %}
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>

        {% else %}
            <p>We've not received any data for future elections yet.</p>
        {% endif %}
        <div class="ds-cluster">
            <a href="{% url 'file_uploads:file_upload' gss=object.council_id %}" class="ds-cta ds-cta-blue" style="margin: 0.85rem;">
                Upload
                {% if object.upload_set.exists %}
                    an updated
                {% endif %}
                EMS export
            </a>
            {% if live_upload  and user.is_staff %}

                <a href="{% url 'file_uploads:accessibility_upload' council_id=object.council_id %}" class="ds-cta ds-cta-blue" style="margin: 0.85rem;">
                    Upload Accessibility CSV
                </a>
            {% endif %}
        </div>
    {% else %}
        {% include "./no_upcoming_elections_snippet.html" with name=object.name %}
    {% endif %}

    <h2>Contact details</h2>
    <p>We hold the following contact details for {{ object.name }}. These details are shown to the general public on our
        websites, widgets, and via our API. We receive this information directly from the Electoral Commission.</p>
    <p>Please double check this information. If anything is wrong,
        <a href="mailto:{{ EC_COUNCIL_CONTACT_EMAIL }}">please email The Electoral Commission digital team</a>.</p>

    <div class="ds-card ds-padded">
        <div class="ds-table">
            <table>
                <caption>Electoral services contact details</caption>
                <tr>
                    <td>Email</td>
                    <td>{{ object.electoral_services_email }}</td>
                </tr>
                <tr>
                    <td>Phone number{{ object.electoral_services_phone_numbers|pluralize }}</td>
                    <td>{{ object.electoral_services_phone_numbers|join:", " }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>{{ object.electoral_services_website }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        {{ object.electoral_services_address|linebreaksbr }}
                        <br>{{ object.electoral_services_postcode }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if object.registration_email %}
        <div class="ds-card ds-padded">
            <div class="ds-table">

                <table>
                    <caption>Registration contact details</caption>
                    <tr>
                        <td>Email</td>
                        <td>{{ object.registration_email }}</td>
                    </tr>
                    <tr>
                        <td>Phone number{{ object.registration_phone_numbers|pluralize }}</td>
                        <td>{{ object.registration_phone_numbers|join:", " }}</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>{{ object.registration_website }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{ object.registration_address|linebreaksbr }}
                            <br>{{ object.registration_postcode }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}

    {% if STATIONS %}
        <div class="ds-card ds-padded">
            <div class="ds-table">
                <table>
                    <caption>Imported Polling Stations</caption>
                    <tr>
                        <th>Station Address</th>
                        <th>Station Postcode</th>
                        <th>Map Showing<br><small style="font-weight: normal;"><a href="https://democracyclub.org.uk/projects/polling-stations/upload/#Mapping">More Info</a></small></th>
                        <th>Examples</th>
                    </tr>
                    {% for station in STATIONS %}
                        {% if station.example_uprn %}
                            <tr>
                                <td>
                                    {% if user.is_staff %}
                                        <a href="{% url "admin:pollingstations_pollingstation_change" object_id=station.pk %}">
                                            {{ station.address }}
                                        </a>
                                    {% else %}
                                        {{ station.address }}
                                    {% endif %}
                                    <br>
                                    <small><cite>
                                        {%  if station.visibility == 'Unpublished' %}
                                            <b>⚠️ {{ station.visibility }}</b>
                                        {% else %}
                                            {{ station.visibility }}
                                        {% endif %}
                                    </cite></small>
                                </td>
                                <td>{{ station.postcode }}</td>
                                <td>{{ station.location }} </td>
                                <td>
                                    <a href={%  url "address_view" station.example_uprn %}>Example page</a>
                                    <br>
                                    <small><cite>
                                        {{ station.example_postcode.0 }}
                                    </cite></small>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {%  endif %}

    {% if user.is_staff %}
        <div class="ds-card ds-padded">
            <h2>Data Events</h2>
            <p>
                {% if object.dataevent_set.latest.event_type == 'IMPORT' %}
                    The most recent event was an import. This means there are polling stations visible to users.
                {% elif  object.dataevent_set.latest.event_type == 'TEARDOWN' %}
                    The most recent event was a teardown. This means there are no polling stations visible to users
                {% endif %}
            </p>
            <div class="ds-table">
                <table>
                    <caption>Events - new to old</caption>
                    <tr>
                        <th>Event Time</th>
                        <th>Event Type</th>
                        <th>Election Dates</th>
                        <th>Upload</th>
                        <th>Payload</th>
                        <th>Metadata</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td style="white-space: nowrap">{{ event.created|date:"Y-m-d H:i" }}</td>
                            <td>{{ event.event_type }}</td>
                            <td style="white-space: nowrap">
                                <ul>
                                    {%  for date in event.election_dates %}
                                        <li>{{ date | date }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% if event.event_type == 'IMPORT' %}
                                    {{ event.upload }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% for key, value in event.payload.items %}
                                    <small style="white-space: nowrap">{{ key }}: {{ value }}</small>
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, value in event.metadata.items %}
                                    <small style="white-space: nowrap">{{ key }}: {{ value }}</small>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            <div class="ds-bordered ds-padded">
                <h5>Data Event Type Key</h5>
                <br>
                <ul class="ds-details">
                    <li>
                        <details>
                            <summary>IMPORT</summary>
                            <p>Event logging the creation and assignment of polling stations to those addresses supplied by the council</p>
                        </details>
                    </li>

                    <li>
                        <details>
                            <summary>TEARDOWN</summary>
                            <p>Event logging removal of station from addresses and deletion of all polling stations supplied by the council</p>
                        </details>
                    </li>

                    <li>
                        <details>
                            <summary>SET_VISIBILITY_EVENT</summary>
                            <p>Event logging a change in visibility for a station</p>
                        </details>
                    </li>

                </ul>
            </div>
        </div>
    {% endif %}

{% endblock council_content %}
