{% extends "file_uploads/council_user_base.html" %}
{% load dc_forms %}

{% block title %}Log in{% endblock %}

{% block council_content %}
    <h1>Log in to upload polling station data</h1>
    <form method="post">
        {%  csrf_token %}

        {{ form|dc_form }}

        <button type="submit" class="ds-button">Request Link</button>
    </form>
    <p>
        If you experience any problems with this process, please email <a href="mailto:pollingstations@democracyclub.org.uk">pollingstations@democracyclub.org.uk</a>.
    </p>
{% endblock %}
