{% extends "file_uploads/council_user_base.html" %}
{% load i18n %}

{% block page_title %}{{ object.filename }}{% endblock page_title %}
{% block title %}{{ object.filename }}{% endblock title %}

{% block extra_page_css %}
    <style>
        dt {
            float: left;
        }
        dt::after{
            content: ":";
        }
        dd {
            margin-left: 25%;
        }
        dd::after {
            content: " ";
            display: block;
            clear: left;
        }
    </style>
{% endblock extra_page_css %}

{% block council_content %}


    <section class="ds-card">
        <h1>{{ object.filename }}</h1>

        <dl>
            <dt><strong>Location</strong></dt>
            <dd><code>{{ object.key }}</code></dd>

            <dt><strong>EMS</strong></dt>
            <dd>{{ object.ems }}</dd>

            <dt><strong>Errors</strong></dt>
            <dd>
                {{ object.status_emoji }}
                {% if object.csv_valid %}OK{% else %}{{ object.errors | linebreaksbr }}{% endif %}
            </dd>

            <dt><strong>Rows</strong></dt>
            <dd>{{ object.csv_rows}}</dd>
        </dl>

    </section>
{% endblock council_content %}
