{% extends "file_uploads/council_user_base.html" %}
{% block title %}
    Log out
{% endblock %}

{% block council_content %}
    <h1>Log out</h1>
    <p>Are you sure you want to log out?</p>
    <div class="ds-cluster">
        <div>
            <a href="{% url "file_uploads:councils_list" %}" class="ds-cta">Cancel</a>
            <form class="ds-logout" method="post" action="{% url 'logout' %}?next={% url "file_uploads:council_login_view" %}">
                {% csrf_token %}
                <button type="submit" class="ds-cta-logout">Logout</button>
            </form>
        </div>
    </div>
{% endblock %}
