{% extends "file_uploads/council_user_base.html" %}

{% load i18n %}
{% load static %}
{% load pipeline %}

{% block extra_page_css %}
    <style>
        button:disabled {
            background-color: lightgrey;
            border-color: darkgrey;
        }
    </style>
{% endblock extra_page_css %}

{% block extra_javascript %}
    {% javascript 'file_uploads' %}
{% endblock extra_javascript %}

{% block council_content %}
    <noscript>
        <div class="error-summary">
            <h2>Javascript disabled</h2>
            <p>To upload files, please enable javascript or email your data to
                <a href="mailto:pollingstations@democracyclub.org.uk">pollingstations@democracyclub.org.uk</a></p>
        </div>
    </noscript>

    <h1>{{ council.name }}</h1>
    {%if NO_UPCOMING_ELECTIONS %}
        <p>
            We don't know about any upcoming elections administered by {{ council.name }}.
            If you have data to upload, please <a href="mailto:pollingstations@democracyclub.org.uk.">get in touch</a>
            to tell us which election you want to upload data for.
        </p>

    {% else %}
        <h2>Upload EMS export</h2>
        <p>
            Use the buttons below to select and upload a polling station export file from your computer.
            Instructions on how to create the export can be found <a href="https://democracyclub.org.uk/projects/polling-stations/upload/">here</a>.
        </p>
        <p>
            In the event that some of the stations in your council area are managed by neighbouring councils for the GE,
            please ensure that they are aware that they need to provide this data to us.
        </p>

        <form id="file_upload_form" method="POST">
            {% if SHOW_DATE_PICKER %}
                <fieldset>
                    <legend>Election date</legend>
                    <p>
                        There is more than one upcoming election in your region. Please pick the date this upload is for.
                        if you have more than one upcoming election, you will need to upload different data exports for each,
                        or email us if you would like us to reuse the data.
                    </p>
                    <div class="ds-stack-smallest">
                        {% for election_date in UPCOMING_ELECTION_DATES %}
                            <label class="ds-field-radio">
                                <input type="radio" name="election_date" value="{{ election_date }}" required >
                                <span>{{ election_date }}</span>
                            </label>
                        {% endfor %}

                    </div>
                </fieldset>

            {% else %}
                <p>Please upload data for the elections taking place on <strong>{{ UPCOMING_ELECTION_DATES.0 }}</strong></p>
                <input type="hidden" name="election_date" value="{{ UPCOMING_ELECTION_DATES.0 }}">
            {% endif %}

            <fieldset>
                <legend>Exported data</legend>
                <p>Please upload the file(s) exported from your EMS. The accepted file types are CSV or TSV.</p>

                <div class="ds-field">
                    <label for="file0">File 1</label>
                    <input type="file" id="file0" name="file0" accept=".csv,.tsv"  />
                    <progress id="progressBar0" value="0" max="100"></progress>
                </div>
                <div class="ds-field">
                    <label for="file1">File 2 (optional)
                        <small>Only required if you use the 'Democracy Counts' EMS</small>
                    </label>

                    <input type="file" id="file1" name="file1" accept=".csv,.tsv" />
                    <progress id="progressBar1" value="0" max="100"></progress>
                </div>
            </fieldset>
            <button type="submit" class="ds-button" id="submit" disabled>Upload</button>
        </form>
    {%endif%}

{% endblock council_content %}

{% block in_page_javascript %}
    <script>
        document.getElementById("submit").disabled = false;
        var getCookie = function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        var handleError = function(err) {
            var error = '<div role="alert"><div class="ds-error">'
            error += '<strong>Sorry, something has gone wrong</strong> '
            error += '<p>Ensure the file you are uploading is of type .csv or .tsv. ';
            error += 'If the problem continues, ';
            error += '<a href="mailto:pollingstations@democracyclub.org.uk">contact us</a>.</p>';
            error += '</div></div>';
            document.getElementById("submit").insertAdjacentHTML('beforebegin', error);
            document.getElementById("submit").disabled = false;
        };

        var serializeFile = function(file) {
            if (file == null) return null;
            return {
                name: file.name,
                size: file.size,
                type: file.type
            };
        };

        var getPresignedPostData = function() {
            var presignedPostDataPromise = new Promise(function(resolve, reject) {
                var xhr = new XMLHttpRequest();
                var url = '{% url "file_uploads:file_upload" gss=gss %}';
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                var election_date;
                if (document.querySelector('input[name="election_date"]:checked')) {
                    election_date = document.querySelector('input[name="election_date"]:checked').value;
                } else {
                    election_date = document.querySelector('input[name="election_date"]').value
                }
                var payload = {
                    files: [
                        serializeFile(document.getElementById('file0').files[0]),
                        serializeFile(document.getElementById('file1').files[0])
                    ].filter(Boolean),
                    election_date: election_date
                };
                xhr.send(JSON.stringify(payload));
                xhr.onload = function() {
                    if (this.status === 200) {
                        resolve(JSON.parse(this.responseText));
                    } else {
                        reject(this.responseText);
                    }
                };
            });
            return presignedPostDataPromise;
        };

        var uploadFileToS3 = function(presignedPostData, file, progressBar) {
            var uploadPromise = new Promise(function(resolve, reject) {
                var formData = new FormData();
                Object.keys(presignedPostData.fields).forEach(function(key) {
                    formData.append(key, presignedPostData.fields[key]);
                });

                formData.append("file", document.getElementById(file).files[0]);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", presignedPostData.url, true);
                xhr.upload.addEventListener("progress", function(event) {
                    document.getElementById(progressBar).value = (event.loaded / event.total) * 100;
                }, false);
                xhr.send(formData);
                xhr.onload = function() {
                    if (this.status === 204) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                };
            });
            return uploadPromise;
        };

        document.addEventListener('DOMContentLoaded', function() {

            document.getElementById('file_upload_form').addEventListener("submit", function(e) {
                e.preventDefault();

                var errors = document.querySelectorAll("form .ds-error")
                if (errors) {
                    for (var i = 0; i < errors.length; i++) {
                        return errors[i].remove();
                    }
                }

                document.getElementById("submit").disabled = true;

                getPresignedPostData().then(
                    function(data) {
                        var uploads = [];
                        for (var i = 0; i < data.files.length; i++) {
                            uploads.push(
                                uploadFileToS3(data.files[i], 'file'.concat(i), 'progressBar'.concat(i))
                            );
                        }
                        Promise.all(uploads).then(
                            function(data) {
                                console.log('done!');
                                console.log(data);
                                window.location.href = '{% url "file_uploads:councils_detail" pk=gss %}';
                                document.getElementById("submit").disabled = false;
                            },
                            handleError
                        );

                    },
                    handleError
                );

            });

        });
    </script>
{% endblock in_page_javascript %}
