{% load i18n %}
<div class="ds-card" id="vote-in-advance">
    <div class="ds-card-body">
        <h3>{% trans "Vote in advance" %}</h3>
        <address>
            {{ advance_voting_station }}
            {{ advance_voting_station.name }}<br>
            {{ advance_voting_station.address|linebreaksbr }}
            {{ advance_voting_station.postcode }}
        </address>

        {% if advance_voting_station.opening_times %}
            <h4>{% trans "Opening times" %}</h4>
            {% include "fragments/advance_opening_times.html" %}

        {% endif %}

        {% comment %} <p>
            {% blocktrans trimmed %}
                You can deliver postal votes to this advance station during opening hours.
                If you are acting as a proxy for someone, you can cast your proxy vote at this advance voting station"
            {% endblocktrans %}
        </p> {% endcomment %}
    </div>
    {% if advance_voting_station.location %}
        <div id="advance_voting_station_map" class="ds-card-image"></div>
    {% endif %}
</div>
