{% load markdown_deux_tags %}
{% if cancelled_election.metadata.cancelled_election.title %}
  <h2>{{ cancelled_election.metadata.cancelled_election.title }}</h2>
{% else %}
  <h2>Cancelled Election</h2>
{% endif %}

{% if cancelled_election.name %}
  {% if cancelled_election.rescheduled_date %}
    <p>The poll for <strong>{{ cancelled_election.name }}</strong> has been rescheduled.</p>
    <p>It will now take place on {{ cancelled_election.rescheduled_date }}</p>
  {% else %}
  <p>The poll for <strong>{{ cancelled_election.name }}</strong> has been cancelled.</p>
  {% endif %}
{% endif %}

{% if cancelled_election.metadata.cancelled_election.detail %}
  {% filter markdown %}
{{ cancelled_election.metadata.cancelled_election.detail }}
  {% endfilter %}
{% else %}
  <p>For more information contact {{ council.name }}
  {% if council.phone %}
  on <strong><a href="tel:{{ council.phone }}">{{ council.phone }}</a></strong>
  {% endif %}</p>
{% endif %}
