<div class="ds-card">
    <div class="ds-card-body">
        <h3>Polling Place Consultation</h3>
        <p>
            The Electoral Office is consulting on Polling Places for the NI Assembly & Local Council elections planned for May 2027.
        </p>
        <p>
            You can view a map of the proposed 2027 election Polling Places at
            <a href="https://nielectoral-maps.wheredoivote.co.uk/map/#postcode={{ postcode }}">nielectoral-maps.wheredoivote.co.uk</a>
            and respond at <a href="https://www.eoni.org.uk/consultations">www.eoni.org.uk/consultations</a>
        </p>
    </div>
</div>
