{% load i18n_with_welsh %}
{% load dc_forms %}

{% if cancelled_election.cancelled %}
    {% include "fragments/cancelled_election.html" %}
{% else %}
    <h2>{% trans "We don't know of any upcoming elections for your address" %}</h2>
    <p>
        {% trans "We're not aware of any upcoming elections for your address." %}
        {% blocktrans trimmed with council.electoral_services_phone_numbers.0 as council_phone and council.electoral_services_website as council_website %}
            If you think there may be elections for your address,
            check your local <a href="{{ council_website }}">council website</a> for more information,
            or contact {{ council }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>.
        {% endblocktrans %}
    </p>
{% endif %}
