{% load i18n %}

<h2>
    {% blocktrans count has_avs=advance_voting_station|default_if_none:"1"|length %}
        Your polling station
    {% plural %}
        Your polling stations
    {% endblocktrans %}
</h2>

{% if not show_polls_open_card and advance_voting_station %}
    <h3>{% trans "Vote in advance" %}</h3>
    {% include "fragments/advance_voting_station.html" %}
    <h3>{% trans "Vote on polling day" %}</h3>
{% endif %}

<div>
    <address>
        {% if station.formatted_address %}
            {{ station.formatted_address|linebreaksbr }}<br />
        {% endif %}

        {% if station.postcode %}
            {% if not station.postcode in station.address %}
                {{ station.postcode }}
            {% endif %}
        {% endif %}
    </address>
</div>

{% if directions.time %}
    <div id="directions">
        {% if directions.mode == "walk" %}
            <p>
                {% blocktrans trimmed with distance_in_miles=directions.distance_in_miles|floatformat:"1" time_in_minutes=directions.time_in_minutes %}
                    It's about {{ distance_in_miles }} miles away or a {{ time_in_minutes }} minute walk from {{ postcode }}.
                {% endblocktrans %}
            </p>
        {% elif directions.mode == "drive" %}
            <p>
                {% blocktrans trimmed with distance_in_miles=directions.distance_in_miles|floatformat:"1" time_in_minutes=directions.time_in_minutes %}
                    It's about {{ distance_in_miles }} miles away or a {{ time_in_minutes }} minute drive from {{ postcode }}.
                {% endblocktrans %}
            </p>
        {% endif %}

        <p>
            {% blocktrans trimmed with google_maps_url=directions.google_maps_url cyclestreets_url=directions.cyclestreets_url %}
                Get <a href="{{ google_maps_url }}" target="_top">walking/driving directions from Google</a> or <a href="{{ cyclestreets_url }}" target="_top">cycling directions from CycleStreets</a>.
            {% endblocktrans %}
        </p>
    </div>
{% endif %}


{% if show_polls_open_card and advance_voting_station %}
    <h3>{% trans "Alternative polling station" %}</h3>
    {% include "fragments/advance_voting_station.html" %}
{% endif %}

<p><strong>{% blocktrans %}Polling stations are open from 7am to 10pm.{% endblocktrans %}</strong></p>
