{% load i18n %}

<h2>{% blocktrans with council.name as council_name %}Contact {{ council_name }}{% endblocktrans %}</h2>

{% blocktrans %}
  <p>
    Your polling station address should be printed on your polling card, which is delivered by post before an election.
  </p>
{% endblocktrans %}

  <p>
    {% if council.phone %}
      {% blocktrans with council.phone as council_phone and council.name as council_name and council.website as council_website %}
        Or if you don't have a poll card, you need to contact your local council.
        You can call {{ council_name }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>
        or <strong><a href="{{ council_website }}">visit their website</a></strong>.
      {% endblocktrans %}
    {% else %}
      {% blocktrans with council.name as council_name %}
        Or, you need to contact {{ council_name }}
      {% endblocktrans %}
    {% endif %}
  </p>

{% blocktrans %}
  <p><strong>Polling stations are open from 7am to 10pm on Thursday 12 December.</strong></p>
{% endblocktrans %}
