{% load i18n %}

<h2>{% blocktrans with council.name as council_name %}Contact {{ council_name }}{% endblocktrans %}</h2>

{% blocktrans with council.phone as council_phone and council.name as council_name %}
  <p>We don't have data for your area.</p>
  <p>
    Your polling station address should be printed on your polling card, which is delivered by post before an election.
  </p>
  <p>
    Or, you need to contact your local council. You can call {{ council_name }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>
  </p>
  <p><strong>Polling stations are open from 7am to 10pm on Thursday 3 May.</strong></p>
{% endblocktrans %}
