{% load i18n_with_welsh %}

<h2>{% blocktrans %}Contact {{ council }}{% endblocktrans %}</h2>

<p>
    {% trans "Your polling station address should be printed on your polling card, which is delivered by post before an election." %}
</p>

<p>

    {% if council.electoral_services_phone_numbers %}
        {%  if council.name == "The Electoral Office for Northern Ireland" %}
            {% blocktrans trimmed with council.electoral_services_phone_numbers.0 as council_phone and council.electoral_services_website as council_website %}
                If you don't have a poll card, you need to contact {{ council }}.
                You can call on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>
                or <strong><a href="{{ council_website }}">visit their website</a></strong>.
            {% endblocktrans %}
        {% else %}
            {% trans "If you don't have a poll card, you need to contact your appropriate electoral services team." %}
            {% blocktrans trimmed with council.electoral_services_phone_numbers.0 as council_phone and council.electoral_services_website as council_website %}
                You can call {{ council }} on <strong><a href="tel:{{ council_phone }}">{{ council_phone }}</a></strong>
                or <strong><a href="{{ council_website }}">visit their website</a></strong>.
            {% endblocktrans %}
        {% endif %}
    {% else %}
        {% blocktrans trimmed %}
            Or, you need to contact {{ council }}.
        {% endblocktrans %}
    {% endif %}
    {% if council.name == "City of London Corporation" %}
        <p>
            {% blocktrans %}
                City of London Business voters: please visit
                <strong><a href="https://www.speakforthecity.com/find-your-ward/">Speak for the City</a></strong>
                to find your ward and polling station
            {% endblocktrans %}
        </p>
    {% endif %}
</p>

<p>
    {% if has_city_of_london_ballots %}
        {% blocktrans %}
            <strong>Polling stations are open from 8am to 8pm for City of London local elections.</strong>
            For elections to other organisations (e.g: GLA or Parliament) polling stations will be open from 7am to 10pm.
        {% endblocktrans %}
    {% else %}
        <strong>{% blocktrans %}Polling stations are open from 7am to 10pm.{% endblocktrans %}</strong>
    {% endif %}
</p>
