{% load i18n %}
    <div class="card">
        {% blocktrans %}
        <h3>You need to be registered in order to vote</h3>
        <p>
          If you aren't registered to vote visit
          <a href="https://www.gov.uk/register-to-vote" target="_top">
            https://www.gov.uk/register-to-vote
          </a>
        </p>
        <p>Register before midnight on Tuesday 26 November to vote in the General Election on 12 December.</p>
        <p>You don't need to register again if you've already registered at your current address.</p>
        {% endblocktrans %}
    </div>
