{% load i18n %}
<style>
    .link-button {
        color: #403F41;
        border-color: #E6007C;
    }

    #feedback_form input[data-toggle]:checked+label, #feedback_form input[data-toggle]:checked+label:active {
        background-color: #E6007C;
        border-color: #E6007C;
    }
</style>

<form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}">
    {% csrf_token %}
    {{ feedback_form.token }}
    {{ feedback_form.source_url }}

    <h3>
        <span aria-hidden="true">🔎</span>
        {% trans "Did you find what you were looking for?" %}
        <span aria-hidden="true">🔎</span>
    </h3>
    <span id="feedback_choices_container">
        {% for choice in feedback_form.found_useful %}
            {{ choice.tag }}
            <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
        {% endfor %}
    </span>
    <div id="vote_choices_container">
        <h3><span aria-hidden="true">🗳️</span>
            {% trans "Has this service changed your likelihood of voting?" %}
            <span aria-hidden="true">🗳️</span></h3>
        {% for choice in feedback_form.vote %}
            {{ choice.tag }}
            <label class="link-button" for="{{ choice.id_for_label }}"> {{ choice.choice_label }}</label>
        {% endfor %}
    </div>

    <div class="comments_container">
        <p>{% trans "Can you tell us anything more?" %}</p>
        {{ feedback_form.comments }}
        <button type="submit" style="display: block;" class="ds-button">{% trans "Send feedback" %}</button>
    </div>
</form>
