<div class="card">
  <form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}">
    {% csrf_token %}
    {{ feedback_form.token }}
    {{ feedback_form.source_url }}

    <h3>Did you find this useful?</h3>
    {% for choice in feedback_form.found_useful %}
      {{ choice.tag }}
      <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
    {% endfor %}

    <div class="comments_container">
      <p>Can you tell us anything more?</p>
      {{ feedback_form.comments }}
      <button type="submit" class="button">Send feedback</button>
    </div>
  </form>
</div>
