interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://mapit.democracyclub.org.uk//postcode/BT11AA
  response:
    body: {string: '
        {
          "wgs84_lat": 54.550429095775804,
          "wgs84_lon": -6.206229421006293,
          "postcode": "BT1 1AA",
          "easting": 316117,
          "northing": 368380,
          "areas": {
            "1": {
              "parent_area": null,
              "codes": {
                "gss": "N07000001"
              },
              "name": "Northern Ireland",
              "type": "EUR"
            }
          }
        }'
    }
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
