{% extends "home.html" %}

{% block extra_content %}
  <div class="ds-card">
    <div class="ds-card-body">
      <h3>Walsall Council Polling District and Polling Place Review 2025</h3>
      <p>
        Walsall Council is conducting a polling districts and polling places
        review and is asking for your views on the draft proposals.
        Please provide your feedback by no later than Sunday 20 July 2025.
      </p>
      <p>
        Use the tool below to find your proposed polling station and complete
        the survey on Walsall Council's website
        <a href="https://www.walsall.gov.uk/PollingDistrictReview">
          https://www.walsall.gov.uk/PollingDistrictReview
        </a>
      </p>
    </div>
  </div>
{% endblock extra_content %}
