{% load i18n %}
{% load markdown_filter %}

<div class="ds-card" id="vote-on-polling-day">
    <div class="ds-card-body">
        {% if station.address %}
            {{ station.address|markdown }}
        {% endif %}
    </div>
    {% if station.location %}
        <div id="area_map" class="ds-map-leaflet"></div>
    {% endif %}
</div>
{% if directions.time or station.accessibility_information.getting_to_the_station or station_is_temporary or has_at_station_info %}
    <div class="ds-card" id="station-info">
        <div class="ds-card-body">
            {% if directions.time or  station.accessibility_information.getting_to_the_station or station_is_temporary %}
                {% include "fragments/getting_to_the_station.html" %}
            {% endif %}
            {%  if has_at_station_info  %}
                {% include "fragments/at_the_station.html" %}
            {% endif %}
        </div>
    </div>
{% endif %}
