{% extends "postcode_view.html" %}

{% load i18n %}
{% load static %}
{% load pipeline %}

{% block extra_page_css %}

    {% if show_map %}
        {% stylesheet 'map' %}
    {% endif %}

{% endblock extra_page_css %}

{% block page_title %}{% trans "Your Polling Station" %}{% endblock page_title %}

{% block content %}

    {% if error %}
        {% include "reviews/WLL/20250609/intro.html" %}

        {% if error == 'postcode_outside_walsall' %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <p>The postcode you searched for is outside Walsall.</p>

                    <p>
                        For information about Walsall Council's Polling District and
                        Polling Place Review, search for a Walsall postcode below.
                    </p>

                    <p>
                        If you're looking for information on an upcoming elections in
                        other areas search on <a href="https://wheredoivote.co.uk/">wheredoivote.co.uk</a>.
                    </p>
                </div>
            </div>

            {% include "fragments/postcode_form.html" with form=postcode_form %}
        {% elif error == 'address_outside_walsall' %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <p>The address you picked is outside Walsall.</p>

                    <p>
                        If you're looking for information on an upcoming elections in
                        other areas search on <a href="https://wheredoivote.co.uk/">wheredoivote.co.uk</a>.
                    </p>
                </div>
            </div>
        {% else %}
            {% include "fragments/postcode_form.html" with form=postcode_form %}
        {% endif %}

    {% else %}
        {% if has_election %}
            {% if we_know_where_you_should_vote %}
                <div class="ds-card">
                    <div class="ds-card-body">
                        <h3>
                            Walsall Council Polling District and Polling Place Review 2025
                        </h3>
                        <p>
                            Please find your proposed polling place below and feedback on the consultation at
                            <a href="https://www.walsall.gov.uk/PollingDistrictReview">
                                https://www.walsall.gov.uk/PollingDistrictReview
                            </a>
                        </p>
                        <p>
                            Please provide your feedback by no later than Sunday 20 July 2025.
                        </p>
                        <p>
                            For more information please visit
                            <a href="https://www.walsall.gov.uk/PollingDistrictReview">
                                https://www.walsall.gov.uk/PollingDistrictReview
                            </a>
                        </p>
                    </div>
                </div>
                {% include "reviews/WLL/20250609/polling_station_known.html" %}
            {% else %}
                {% include "fragments/polling_station_unknown.html" %}
            {% endif %}
        {% else %}
            {% include "fragments/no_election.html" %}
        {% endif %}

    {% endif %}

    {% if council.electoral_services_address or council.electoral_services_postcode or council.electoral_services_phone_numbers or council.electoral_services_email %}
        {% include "fragments/contact_details.html" %}
    {% endif %}

{% endblock content %}
