{% extends "dc_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block base_title %}{% block page_title %}{% endblock page_title %} | WhereDoIVote?{% endblock base_title %}

{% block body_class_attr %}class="embed"{% endblock body_class_attr %}

{% block body_base %}
  <style>
  header a {
    color: white;
  }
  header a:hover {
    color: white;
    text-decoration: none;
    background-image: -webkit-linear-gradient(white 0%, #00677f 100%);
    background-image: linear-gradient(white 0%, #00677f 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 85%;
    text-shadow: 3px 0 #00677f, 2px 0 #00677f, 1px 0 #00677f, -1px 0 #00677f, -2px 0 #00677f, -3px 0 #00677f;
  }
  </style>
    <header style="background-color:#00677f;padding:2em;color:#FFF;margin:2em 0;">
      <div class="row">
        <div class="columns large-12">
          <h2><a href="/">{% trans "Find your polling station" %}</a></h2>
        </div>
        <div class="medium-text-right float-right">
          <a href="?lang=en">English</a> / <a href="?lang=cy">Cymraeg</a>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="col-md-12">
      {% block content %}{% endblock content %}
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="columns large-12">
          <img src="{% static 'images/nus_logo.jpg' %}" width=200 alt="NUS logo">
          <a href="https://democracyclub.org.uk">
          {% if LANGUAGE_CODE == 'cy-gb' %}
          <img src="{% static 'images/logo-cy.png' %}" width=200 alt="Clwb Democratiaeth">
          {% else %}
          <img src="{% static 'images/logo-with-text.png' %}" width=200 alt="Democracy Club">
          {% endif %}</a>
        </div>
      </div>
    </footer>
{% endblock body_base %}

