{% extends "dc_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_base %}
  <body class="embed">
    <header style="background-color:#00677f;padding:2em;color:#FFF;margin:2em 0;">
      <div class="row">
        <div class="columns large-12">
          <h2>{% trans "Find your polling station" %}</h2>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="col-md-12">
      {% block content %}{% endblock content %}
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="columns large-12">
          <img src="{% static 'images/nus_logo.jpg' %}" width=200>
          <a href="https://democracyclub.org.uk">
          {% if LANGUAGE_CODE == 'cy-gb' %}
          <img src="{% static 'images/logo-cy.png' %}" width=200>
          {% else %}
          <img src="{% static 'images/logo-with-text.png' %}" width=200>
          {% endif %}</a>
        </div>
      </div>
    </footer>
{% endblock body_base %}

