#feedback_form {
    ul {
      margin:0;
      padding:0;
    }
    input[data-toggle] {
      display: none;
    }

    input[data-toggle]:checked + label,

    input[data-toggle]:checked + label:active {
      background-color: $button-background;
      color:white;
      border-color:$button-background-darker;
      outline: 3px solid $focus-colour;
//      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .button-group.toggle li:not(first-child) {
      margin: 0 -0.9rem;
    }
}
