body > header .container {

  display: flex;
  flex-direction: row;
  padding: 0.5em 0;

  a.home-link {
    display: flex;
    font-family: "Bitstream Vera Sans";
    text-decoration: none;

    &, &:visited {
      color: $heading-text-colour;
    }

    img {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }

    .title-text {
      margin-left: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.1;
    }

    .subtitle {
      font-size: 1.5rem;
    }
  }

  .language-select {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
    font-size: 1rem;
    font-family: $sanserif-font;
      background-color: transparent;
      border-bottom: none;
      color: $heading-text-colour;


      &:not([aria-selected]) {
        &:before {
          content: '🞅';
        }
      }
      &[aria-selected] {
        cursor: default;
        &:before {
          content: '🞊';
        }
      }
    }
  }
}
