
// Colours

$black: #403F41;
$blackOpacity: rgba($black, 0.2);
$white: #fff;
$pinkForWhite: #E6007C;
$blueForWhite: #007CAD;
$blueForBlack: #00B6FF;
$blueLight: #E4F4FB;
$greenForWhite: #32841A;
$greenForBlack: #4BC427;
$redForWhite: #D91714;
$redForBlueLight: $redForWhite;
$amber: #FFC037;

// Small scale
$increment-small-scale: 0.125rem;
$ss1: $increment-small-scale;
$ss2: $ss1 + $increment-small-scale;
$ss3: $ss2 + $increment-small-scale;
$ss4: $ss3 + $increment-small-scale;
$ss5: $ss4 + $increment-small-scale;
$ss6: $ss5 + $increment-small-scale;
$ss7: $ss6 + $increment-small-scale;
$ss8: $ss7 + $increment-small-scale;


%ds-dark, %ds-dark * {
  color: $white;
  background-color: $black;
}

%ds-cluster > *,
%ds-cluster-right > *,
%ds-cluster-center > * {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(#{$ss5} * -1);
}

%ds-cluster > * > *,
%ds-cluster-right > * > *,
%ds-cluster-center > * > * {
  margin: $ss5;
}

%ds-cluster-right > * {
  justify-content: flex-end;
}

%ds-cluster-center > * {
  justify-content: center;
}

%ds-cluster-tight > * {
  margin: calc(#{$ss2} * -1);
}

%ds-cluster-tight > * > * {
  margin: $ss2;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-medium.woff2') format('woff2'),
        url('../fonts/montserrat-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Font families
$familyMain: Montserrat, sans-serif;
$familyBody: Georgia, serif;

// Line heights
$lineHeight: 1.5; // WCAG 1.4.12 recommended minimum
$lineHeightTight: 1.125;


@mixin fontMain {
  font-family: $familyMain;
  font-weight: 500;
  line-height: $lineHeightTight;
  color: $black;
}


@mixin language {

  .ds-language {
    @extend %ds-dark;
    @extend %ds-cluster;
    @extend %ds-cluster-right;
    padding: $ss5;
    font-size: $ss8;
  }

  button {
    @include fontMain;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }

  .ds-language [aria-current] {
    text-decoration: underline;
    text-decoration-thickness: $ss1;
    color: $blueForBlack;
  }

}

.ds-scope {
  @include fontMain;
  @include language;
}
