@import 'dc_base';
@import 'cards';
@import 'feedback_form';

body.embed {
    padding-top: 0px;
    margin-top: 0px;

    footer {
      background-color: transparent;
      color: $body-text-colour;
    }
}

footer {
  ul {
    overflow: hidden;
  }

  li {
    float: left;
  }
}


select.select_multirow {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;
}

.api-method {
  @extend code;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

.api-http-code {
  cursor: pointer;
}

.api-method-GET {
  background-color: $dc-green;
  color: #FFF;
}


.donate_card em {
  background-color: yellow;
  font-style: normal;
  padding: 0.1em;
}

.donate_card .link-button {
  background-color: #00AEEF;
  border: 0;
  padding: 0.4em 0.6em;
  margin: 0.5em 0;
  font-size: 1em;
  color: #FFF;
  border-bottom: 3px solid #0089bc;
}
