[Unit]
Description=Manages DB replication subscription
After=postgresql.service ${PROJECT_ROOT}_gunicorn.service

[Service]
User=root
Type=exec
RemainAfterExit=yes
ExecStart=${PROJECT_ROOT}/db_replication_runner.sh
ExecStop=sudo su -c "${PROJECT_ROOT}/remove_db_replication.sh" - polling_stations

StandardOutput=file:/var/log/db_replication/logs.log
StandardError=file:/var/log/db_replication/logs.log

[Install]
WantedBy=multi-user.target
