.navbar {
    overflow:auto;
}
.navbar-brand > img {
    position:relative;
    top:-20px;
    left:-15px;
    float:left;
}

@media only screen and (min-width: 42em) {
    .navbar-brand > img {
        left:0px;
        padding-right:1em;
    }
}

.footer {
    background: #f3f0ed;
    padding-top: 2em;
    padding-bottom: 2em;
}

.dc-logo {
    height: 45px;
    margin-left: .5em;
}

form .row { padding-bottom:2em; padding-top: 1em;
